extends ../formulaireEtapierRecommandation

mixin document({ nom, description, dateTelechargement })
  - const dateFr = new Intl.DateTimeFormat('fr-FR', { dateStyle: 'short', timeStyle: 'short', timeZone: 'Europe/Paris' });

  a.document-homologation(
    href= referentiel.urlDocumentHomologation(nom, service.id)
    data-action-enregistrement = `/api/service/${service.id}/homologation/telechargement/${nom}`
    target='_blank'
    rel='noopener'
    )
    | #{description}
    if (dateTelechargement)
      span.date-telechargement  – téléchargé le #{dateFr.format(dateTelechargement)}

  input(type='text' required value=dateTelechargement)
  .message-erreur Vous devez télécharger ce document pour pouvoir passer à l'étape suivante.

block formulaire
  - const datesTelechargements = service.dossierCourant()?.datesTelechargements;

  ul.consignes
    li Télécharger les documents ci-dessous :
      ul.documents
        each document in referentiel.tousDocumentsHomologation()
          li: +document({
            nom: document.id,
            description: document.description,
            dateTelechargement: datesTelechargements[document.id]
          })
    li.
      Remplir la décision d'homologation de sécurité avec l'ensemble des
      personnes concernées.
    li.
      Présenter, pour signature, la décision d'homologation à l'autorité
      d'homologation ainsi que la synthèse de la sécurité.
    li.
      Reconnectez-vous ensuite pour renseigner la date de signature et la
      durée de validité de l'homologation dans la dernière étape <b>Date</b>.

  script(type = "module", src = "/statique/service/homologation/etapes/decision.js")

block bouton-etape
  button.bouton#suivant(
    data-id-homologation = service.id,
    data-id-etape = idEtape,
    data-id-etape-suivante = referentiel.idEtapeSuivante(idEtape)
    ) Suivant
