block append scripts
    script(type = 'module', src = '/statique/fonctionnalitesSegmentees.js')

block append styles
  link(href='/statique/assets/styles/fonctionnalitesSegmentees.css', rel='stylesheet')

mixin fonctionnalitesSegmentees(labels, contenu, baliseSousTitre = "p")
  -
    const elements = labels.map(((l, idx) => ({"label": l, "value": (idx + 1).toString(), "id":`segmente-${(idx + 1)}`})))

  #fonctionnalites.flex-column.fonctionnalites
    dsfr-segmented.controle-segmente-fonctionnalites(
      size="sm"
      elements=JSON.stringify(elements)
      value="1"
      no-legend
    )
    .flex-row.gap-24.center
      each groupeFonctionnalites, idxGroupe in contenu
        .flex-column.conteneur-fonctionnalites(class=`${idxGroupe === 0 ? "" : "invisible"}`, data-index=idxGroupe + 1)
          each fonctionnalite, idx in groupeFonctionnalites
            .flex-column.gap-16.fonctionnalite(class=`${idx === 0 ? "active": ""}`)
              .flex-column.gap-8
                #{baliseSousTitre}.fonctionnalite-titre= fonctionnalite.titre
                p.fonctionnalite-description= fonctionnalite.description
              img(src=fonctionnalite.img, alt=`Illustration pour ${fonctionnalite.titre}`, class=`${idx === 0 ? "" : "invisible"}`)
            if idx < groupeFonctionnalites.length - 1
              hr
      img(class="illustration-fonctionnalites-segmentees-desktop" src=contenu[0][0].img)
