mixin header(avertissementMaintenance, featureFlags, fluide, lienSurLogo, titreLienSurLogo, headerAGaucheUniquement)
  dsfr-header(
    id="dsfr-header"
    has-navigation
    brand-link-href=lienSurLogo,
    has-brand-operator,
    brand-operator-src="/statique/assets/images/logo_ANSSI_MSS.svg",
    brand-operator-alt="MonServiceSécurisé",
    brand-operator-style="height:100px;",
    brand-link-title=titreLienSurLogo,
    has-tool-links,
    menu-id='boutonMenu',
    fluid=fluide
  )
    if !headerAGaucheUniquement
      .conteneur-outils-entete(slot="toolLinks")
        if featureFlags.avecBandeauMSC
          lab-anssi-bouton-suite-cyber-navigation(sourceUtm="MonServiceSécurisé")
        if block
          block
        span.utilisateur-courant

  if avertissementMaintenance
    .banniere-maintenance
      img(src="/statique/assets/images/icone_danger.svg" alt="")
      p
        -
          const dateDuJour = new Date()
          dateDuJour.setHours(0, 0, 0, 0);
          const diffDate = new Date(avertissementMaintenance.jour) - dateDuJour
          const diffJour = Math.round(diffDate / (1000 * 60 * 60 * 24));
          const diffFormatee = new Intl.RelativeTimeFormat('fr', {numeric: 'auto'}).format(diffJour, 'day');
          const jourFormate = new Intl.DateTimeFormat('fr', {dateStyle: "full"}).format(new Date(avertissementMaintenance.jour));
        span Une maintenance est prévue #{diffFormatee} (#{jourFormate}) sur MonServiceSécurisé, #{avertissementMaintenance.heure}.
        br
        span La plateforme sera inaccessible. Nous nous excusons pour la gêne occasionnée.
