mixin inputChoix({ type, nom, titre, items, objetDonnees = homologation, decoration })
  - let valeursSelectionnees = objetDonnees[nom]
  fieldset
    .titre= titre
    if decoration
      .decoration !{decoration}
    each donnees, identifiant in items
      - const { description, exemple } = donnees
      - const identifiantInput = `${nom}-${identifiant}`
      input(
        id = identifiantInput,
        name = nom,
        value = identifiant,
        type = type,
        checked = (
          Array.isArray(valeursSelectionnees)
            ? valeursSelectionnees.includes(identifiant)
            : identifiant === valeursSelectionnees
        )
      )
      label(for = identifiantInput)= description
      br
      if exemple
        label.exemple(for = identifiantInput)= exemple
        br

mixin inputOuiNon({ nom, titre })
  +inputChoix({
    type: 'radio',
    nom: nom,
    titre: titre,
    items: { oui: { description: 'Oui' }, non: { description: 'Non' } },
  })
