mixin inputChoix({ type, nom, titre, items, objetDonnees = homologation, messageErreur, decoration })
  - let valeursSelectionnees = objetDonnees[nom]
  - if (typeof valeursSelectionnees === 'boolean') valeursSelectionnees = (valeursSelectionnees ? 'oui' : 'non')
  fieldset(id = nom)
    .titre= titre
      if decoration
        .decoration !{decoration}
    each donnees, identifiant in items
      - const { description, exemple } = donnees
      - const identifiantInput = `${nom}-${identifiant}`
      input(
        id = identifiantInput,
        name = nom,
        value = identifiant,
        type = type,
        checked = (
          Array.isArray(valeursSelectionnees)
            ? valeursSelectionnees.includes(identifiant)
            : identifiant === valeursSelectionnees
        )
      )
      label(for = identifiantInput)= description
      br
      if exemple
        label.exemple(for = identifiantInput)= exemple
        br
    .message-erreur=messageErreur

mixin inputOuiNon({ nom, titre, objetDonnees, messageErreur })
  +inputChoix({
    nom,
    titre,
    objetDonnees,
    messageErreur,
    type: 'radio',
    items: { oui: { description: 'Oui' }, non: { description: 'Non' } },
  })
