- const estSurCreationDeService = !!service.id === false

mixin etapeParcours({ id, position, url, description, sousTitre, statut })
  -
    const estActive = etapeActive === id
    const statutSaisie = (s) => {
      switch (s) {
        case InformationsHomologation.COMPLETES: return 'faite';
        case InformationsHomologation.A_COMPLETER: return 'en-cours';
        default: return '';
      }
    }

  li
    a(href = estSurCreationDeService ? '#' : url, class = estActive ? 'actif' : '')
      div
        span.position
          !=(position+1)
        span.none-si-ferme!= description
        span.statut-saisie.none-si-ferme(class = statutSaisie(statut))
      span.sous-titre.hidden-si-ferme!= sousTitre

.menu-navigation(class = preferencesUtilisateur.etatMenuNavigation === 'ferme' ? 'ferme' : '')
  .actions
    if !estSurCreationDeService
      button#gerer-contributeurs
        img(src = '/statique/assets/images/bouton_inviter_collaborateur_persona.svg')
        span.none-si-ferme.nombre-contributeurs= service.contributeurs.length + 1
        span.inviter-contributeurs Gérer les contributeurs
    button.repli-menu
      img(src = '/statique/assets/images/forme_chevron_blanc.svg' alt='Chevron vers la gauche')

  .parcours
    ul.etapes
      each actionSaisie in actionsSaisie
        +etapeParcours(actionSaisie)

  if !estSurCreationDeService
    .autres-liens
      ul
        li
          a(href = `/service/${service.id}/risques`, class = etapeActive === 'risques' ? 'actif' : '')
            .pastille
              img(src = '/statique/assets/images/icone_risques.svg' alt="Icône d'un panneau « Danger »")
            span.none-si-ferme Risques
        li
          a(href = `/service/${service.id}/rolesResponsabilites`, class = etapeActive === 'contactsUtiles' ? 'actif' : '')
            .pastille
              img(src = '/statique/assets/images/icone_contacts_utiles.svg' alt="Icône d'un livre ouvert")
            span.none-si-ferme Contacts utiles
        li
          a(
            href = `/api/service/${service.id}/pdf/syntheseSecurite.pdf`,
            target = '_blank',
            rel = 'noopener'
            title= 'Télécharger le PDF de synthèse de sécurité dans une nouvelle fenêtre')
            .pastille
              img(src = '/statique/assets/images/icone_action_telechargement.svg' alt='Icône de fichier PDF')
            span.none-si-ferme Synthèse de sécurité
        li
          a(
            href = `/api/service/${service.id}/pdf/annexes.pdf`,
            target = '_blank',
            rel = 'noopener'
            title= 'Télécharger les annexes PDF dans une nouvelle fenêtre')
            .pastille
              img(src = '/statique/assets/images/icone_action_telechargement.svg' alt='Icône de fichier PDF')
            span.none-si-ferme Annexes