- const estSurCreationDeService = !!service.id === false
- const urlDeService = (suffixe) => `/service/${service.id}/${suffixe}`

mixin etapeParcours({ id, url, nom, sousTitre, estVisible, statut, icone })
  -
    const estActive = etapeActive === id
    const statutSaisie = (s) => {
      switch (s) {
        case InformationsService.COMPLETES: return 'faite';
        case InformationsService.A_COMPLETER: return 'en-cours';
        default: return '';
      }
    }

  if estVisible
    li
      a(href= estSurCreationDeService ? '#' : url, class = estActive ? 'actif' : '')
        .pastille
          lab-anssi-icone(nom=icone taille="md")
        .none-si-ferme
          span.nom-action= nom
          span.sous-titre= sousTitre
        .statut-saisie.none-si-ferme(class = statutSaisie(statut))
      if(block)
        block

.menu-navigation(class = preferencesUtilisateur.etatMenuNavigation === 'ferme' ? 'ferme' : '')
  .actions
    if !estSurCreationDeService
      button#gerer-contributeurs(class = preferencesUtilisateur.etatMenuNavigation === 'ferme' ? '' : 'ouvert')
        img(src = '/statique/assets/images/bouton_inviter_collaborateur_persona.svg' alt='Inviter des collaborateur à contribuer')
        span.inviter-contributeurs Gérer les contributeurs
    button.repli-menu
      img(src = '/statique/assets/images/forme_chevron_blanc.svg' alt='Chevron vers la gauche')

  .parcours
    ul.etapes
      if estSurCreationDeService
        +etapeParcours({
          id: 'descriptionService',
          nom: 'Récapitulatif',
          sousTitre: 'Consulter la description et les besoins de sécurité du service',
          statut: service.descriptionService.statutSaisie(),
          estVisible: true,
          icone: "survey-line"
        })
      else
        +etapeParcours({
          id: 'mesures',
          url: urlDeService('mesures'),
          nom: 'Sécuriser',
          sousTitre: "Mesurer et renforcer l'indice cyber",
          visibileSurCreationService: false,
          statut: service.mesures.statutSaisie(),
          estVisible: !(autorisationsService.SECURISER.estMasque),
          icone: "list-unordered"
        })
          a.none-si-ferme#lien-indice-cyber(href=urlDeService('indiceCyber'))
            | Indice cyber
            img(src='/statique/assets/images/forme_chevron_bleu_fonce.svg' alt='')
        +etapeParcours({
          id: 'dossiers',
          url: urlDeService('dossiers'),
          nom: 'Homologuer',
          sousTitre: "Générer un dossier d'homologation",
          statut: service.dossiers.statutSaisie(),
          estVisible: !(autorisationsService.HOMOLOGUER.estMasque),
          icone: "award-line"
        })
        +etapeParcours({
          id: 'descriptionService',
          url: urlDeService('descriptionService'),
          nom: 'Récapitulatif',
          sousTitre: 'Consulter la description et les besoins de sécurité du service',
          statut: service.descriptionService.statutSaisie(),
          estVisible: !(autorisationsService.DECRIRE.estMasque),
          icone: "survey-line"
        })

  if !estSurCreationDeService
    .autres-liens
      ul
        if !autorisationsService.RISQUES.estMasque
          li
            a(href = urlDeService('risques'), class = etapeActive === 'risques' ? 'actif' : '')
              .pastille
                lab-anssi-icone(nom="warning-line" taille="md")
              span.none-si-ferme Risques
        if !autorisationsService.CONTACTS.estMasque
          li
            a(href = urlDeService('rolesResponsabilites'), class = etapeActive === 'contactsUtiles' ? 'actif' : '')
              .pastille
                lab-anssi-icone(nom="mail-line" taille="md")
              span.none-si-ferme Contacts utiles
        li
          a#voir-telechargement(href = '#')
            .pastille
              lab-anssi-icone(nom="file-download-line" taille="md")
            span.none-si-ferme Télécharger les PDF

