mixin navigationSiteVitrine(ongletActif)
  block append styles
    link(href='/statique/assets/styles/navigationSiteVitrine.css', rel='stylesheet')

  nav#navigation-site-vitrine
    .contenu-navigation
      a(href='/' class=`${ongletActif === 'accueil' ? 'actif': ''}`) Accueil
      details
        summary(class=`${ongletActif && ongletActif.includes('promouvoir/') ? 'actif': ''}`)
          span Promouvoir
        ul.menu-deroulant
          li(class=`${ongletActif && ongletActif.includes('/faire-connaitre') ? 'actif': ''}`)
            a(href='/faire-connaitre-et-recommander-monservicesecurise') Promouvoir MonServiceSécurisé
          li(class=`${ongletActif && ongletActif.includes('/devenir-ambassadeurrice') ? 'actif': ''}`)
            a(href='/devenir-ambassadeurrice-monservicesecurise') Devenir Ambassadeur/rice
      a(href='/co-construire-monservicesecurise' class=`${ongletActif === 'co-construire-monservicesecurise' ? 'actif': ''}`) Co-construire MonServiceSécurisé
      a(href='/conseils-cyber' class=`${ongletActif === 'conseils-cyber' ? 'actif': ''}`) Conseils Cyber
      a(href='/doctrine-homologation-anssi' class=`${ongletActif === 'doctrine-homologation-anssi' ? 'actif': ''}`) L'homologation simplifiée