include ../inputChoix

mixin zoneSaisieUnAvis(donneesUnAvis = {}, index = 0, indexAvis = index + 1)
  div(id = `element-un-avis-${index}`)
    .cartouche: h3 Avis n°#{indexAvis}
    .contenu
      .requis
        label.champ-texte Collaborateurs métier et techniques renseignant l'avis
          select(
            id = `collaborateurs-un-avis-${index}`,
            name = `collaborateurs-un-avis-${index}`,
            placeholder = 'ex: Louis Martin',
            required,
            multiple
          )
            each collaborateur in donneesUnAvis.collaborateurs || []
              option(value!= collaborateur, selected) !{collaborateur}
            each contributeur in [service.createur, ...service.contributeurs]
              option(value!= contributeur.prenomNom()) !{contributeur.prenomNom()}
          .message-erreur Au moins un prénom nom de collaborateur est obligatoire. Veuillez renseigner des lettres. Les chiffres ne sont pas autorisés.

      - donneesUnAvis[`statut-un-avis-${index}`] = donneesUnAvis.statut
      .requis
        +inputChoix({
            type: 'radio',
            nom: `statut-un-avis-${index}`,
            titre: "Avis sur l'homologation du service",
            items: referentiel.statutsAvisDossierHomologation(),
            requis: true,
            messageErreur: 'Ce champ est obligatoire. Veuillez cocher une option.',
            objetDonnees: donneesUnAvis,
          })

      - donneesUnAvis[`dureeValidite-un-avis-${index}`] = donneesUnAvis.dureeValidite
      .requis
        +inputChoix({
            type: 'radio',
            nom: `dureeValidite-un-avis-${index}`,
            titre: "Durée proposée de validité de l'homologation",
            items: referentiel.echeancesRenouvellement(),
            requis: true,
            messageErreur: 'Ce champ est obligatoire. Veuillez cocher une option.',
            objetDonnees: donneesUnAvis,
          })

      label.texte-libre Commentaires et recommandations
        textarea(
          rows = '10',
          id = `commentaires-un-avis-${index}`,
          name = `commentaires-un-avis-${index}`,
          placeholder = 'ex : favorable pour la mise en ligne sous réserve que certaines mesures soient réalisées dans 1 mois.',
        )= donneesUnAvis.commentaires

mixin unAvis(donneesUnAvis = {}, index = 0)
  .item-ajoute
    .icone-suppression
    +zoneSaisieUnAvis(donneesUnAvis, index)

mixin elementsAjoutablesAvis(donneesAvis = [])
  .elements-ajoutables#avis
    #element-ajoutable-template.invisible
      +zoneSaisieUnAvis({}, 'INDEX', 'INDEX_AVIS')

    each donneesUnAvis, index in donneesAvis 
      +unAvis(donneesUnAvis, index)

  script(type = 'module', src = '/statique/modules/elementsAjoutables.js')
