extends ../mss

block append styles
  link(href = '/statique/assets/styles/formulaire.css', rel = 'stylesheet')
  link(href = '/statique/assets/styles/homologation/creation.css', rel = 'stylesheet')

block main
  form#homologation
    h1 Décrivez le service numérique
    h2 Informations générales
    p.
      Ces informations permettront d'évaluer les besoins de sécurité de votre
      service numérique, afin de vous proposer des mesures de sécurité adaptées
      et les pièces à joindre au document d'homologation.
    section
      label Nom du service à homologuer
        br
        input(id = 'nom-service', name = 'nomService', type = 'text')

      fieldset Quelle est la nature du service numérique ?
        each description, identifiant in referentiel.naturesService()
          br
          input(id = 'nature-service-' + identifiant, name = 'natureService',
                value = identifiant, type = 'checkbox')
          label(for = 'nature-service-' + identifiant)= description

      fieldset Quelle est la provenance du service numérique ?
        each donnees, identifiant in referentiel.provenancesService()
          - const { description, exemple } = donnees
          br
          input(id = 'provenance-service-' + identifiant, name = 'provenanceService',
                value = identifiant, type = 'checkbox')
          label(for = 'provenance-service-' + identifiant)= description
          br
          label.exemple(for = 'provenance-service-' + identifiant)= exemple

      fieldset Le service numérique est-il déjà mis en ligne ?
        br
        input(id = 'deja-mis-en-ligne-oui', name = 'dejaMisEnLigne', value = 'oui', type = 'radio')
        label(for = 'deja-mis-en-ligne-oui') Oui
        br
        input(id = 'deja-mis-en-ligne-non', name = 'dejaMisEnLigne', value = 'non', type = 'radio')
        label(for = 'deja-mis-en-ligne-non') Non

    section
      fieldset Le service numérique inclut-il une ou plusieurs des fonctionnalités suivantes ?
        each description, identifiant in referentiel.fonctionnalites()
          br
          input(id = 'fonctionnalite-' + identifiant, name = 'fonctionnalite',
                value = identifiant, type = 'checkbox')
          label(for = 'fonctionnalite-' + identifiant)= description

      fieldset Le service numérique est-il amené à traiter une ou plusieurs des données à caractère personnel suivantes ?
        each donnees, identifiant in referentiel.donneesCaracterePersonnel()
          - const { description, exemple } = donnees
          br
          input(id = 'donnees-caractere-personnel-' + identifiant, name = 'donneesCaracterePersonnel',
                value = identifiant, type = 'checkbox')
          label(for = 'donnees-caractere-personnel-' + identifiant)= description
          br
          label.exemple(for = 'donnees-caractere-personnel-' + identifiant)= exemple

    .bouton Continuer &nbsp;&nbsp;›

  script(src = '/statique/homologation/creation.js')
