extends ../documentImprimable

mixin risquesPagines({ titreAnnexe, titreSection, donnees })
  each risques, index in donnees
    .page
      main
        h1.vert= index === 0 ? titreAnnexe : `${titreAnnexe} (suite)`
        .annexe
          section.detail-risques
            dl
              each risque in risques
                dt.
                  !{risque.descriptionRisque()}<br>
                  (niveau de gravité : #{risque.descriptionNiveauGravite()})
                dd!= risque.commentaire
        .saut-page

mixin mesuresPaginees({ titreAnnexe, titreSection, donnees })
  each mesures, index in donnees
    .page
      main
        h1.vert= index === 0 ? titreAnnexe : `${titreAnnexe} (suite)`
        .annexe
          .legende
            each description, id in referentiel.statutsMesures()
              div(class = id)= description
          .legende.avis-anssi
            .indispensable Mesure indispensable (ANSSI)

          section.detail-mesures
            h2= titreSection

            ul
              if mesures.length === 0
                li Aucune mesure retenue

              each mesure in mesures
                li
                  .description!= mesure.descriptionMesure()
                  .statut(class = mesure.statut)
                  if mesure.estIndispensable()
                    .indispensable
      .saut-page

block append page

  include ../fragments/diagnostics

  block append styles
    link(href='/statique/assets/styles/decision.css', rel='stylesheet')

  .page
    header
      .mss
        h1 MonService<b>Sécurisé</b>
        p Sécuriser les service publics numériques
      .anssi Agence nationale de la sécurité des systèmes d'information (ANSSI)

    main
      h1.bleu Décision d'homologation de sécurité

      section.introduction
        h2!= homologation.nomService()
        dl
          dt Type :
          dd= homologation.descriptionTypeService()
          dt Objet :
          dd= homologation.presentation()
          dt Développé par :
          dd!= homologation.structureDeveloppement()
          dt Hébergement et localisation des données :
          dd!= `${homologation.hebergeur()}, ${homologation.descriptionLocalisationDonnees()}`

      section.risques
        h2 Principaux risques de sécurité identifiés
        p Détails en annexe
        ul
          each risque in homologation.risquesPrincipaux()
            li.
              !{risque.descriptionRisque()} <br>
              (niveau de gravité : #{risque.descriptionNiveauGravite()})

      section.mesures
        h2 Mesures de sécurité retenues
        p Recommandées par l'ANSSI, détails en annexe

        .legende
          .enCours En cours
          .fait Fait

        - const statistiquesMesures = homologation.statistiquesMesures()
        - const categories = statistiquesMesures.categories()
        ul
          if categories.length === 0
            li Aucune mesure retenue

          each idCategorie in categories
            - const pourcentage = 100 * statistiquesMesures.misesEnOeuvre(idCategorie) / statistiquesMesures.retenues(idCategorie)
            - let style = `width: ${pourcentage}%;`
            - if (pourcentage === 0) style += ' border: none;'
            - if (pourcentage > 97) style += ' border-radius: 3px;'
            li
              .nombre-mesures= `${statistiquesMesures.retenues(idCategorie)} mesures de`
              .type-mesure= referentiel.descriptionCategorie(idCategorie)
              style(nonce = nonce).
                #!{idCategorie} .barre-mesures-misesEnOeuvre {
                  !{style}
                }
              .barre(id = idCategorie)
                .barre-mesures-retenues
                .barre-mesures-misesEnOeuvre

      section
        h2 Avis de l'expert cyber
        p sur le maintien ou la mise en service
        +avisExpertCyber
        dl
          dt Expert cybersécurité :
          dd= homologation.rolesResponsabilites.descriptionExpertCybersecurite()

          dt Recommandations additionnelles :
          if homologation.avisExpertCyber.commentaire
            dd= homologation.avisExpertCyber.commentaire
          else
            dd Aucune

      section
        h2 Équipe
        dl
          dt Décision d'homologation préparée par :
          dd= homologation.descriptionEquipePreparation()
          each acteur in homologation.gouvernance()
            dt #{acteur.role} :
            dd= acteur.description

      section
        h2 Calendrier
        dl
          dt Date de renouvellement de l'homologation :
          dd= homologation.descriptionExpiration()

  .page
    main
      section.decision
        h2 Décision d'homologation
        dl
          dt Autorité d'homologation :
          dd= homologation.descriptionAutoriteHomologation()
        p.signature Lu et approuvé | date | signature
        ul
          li Conformité au référentiel général de sécurité (RGS)
          li.
            Contribue à la mise en conformité avec les obligations du règlement
            européen pour la protection des données à caractère personnel (RGPD) en
            matière de « sécurité du traitement des données »
        p.notes-finales.
          Par la signature de cette décision, vous attestez avoir pris connaissance
          des risques principaux pour le service numérique et des mesures de
          sécurité retenues, sur la base des informations fournies dans le présent
          dossier et ses pièces jointes. Vous validez son maintien ou sa mise en
          service, dont la sécurité devra être maintenue dans la durée. Une fois
          signée, la décision d'homologation pourra être publiée sur
          MonServiceSécurisé et sur « !{homologation.nomService()} ».
          MonServiceSécurisé et l'ANSSI ne peuvent en aucun cas être tenus
          responsables d'incidents de sécurité susceptibles d'affecter le service
          numérique homologué et des conséquences qui pourraient en découler.

      .saut-page

  +risquesPagines({
    titreAnnexe: 'Annexe 1 - Détail des risques',
    donnees: homologation.risques.pagines(15)
  })

  +mesuresPaginees({
    titreAnnexe: 'Annexe 2 – Détail des mesures de sécurité',
    titreSection: 'Mesures de gouvernance',
    donnees: homologation.mesures.paginees(25)
  })

  script(type = 'module', src = '/statique/homologation/decision.js')
