doctype html
meta(charset='utf-8')

link(href='/statique/assets/styles/fonts.css', rel='stylesheet')
link(href='/statique/assets/styles/decision.css', rel='stylesheet')

header
  .mss
    h1 Mon Service <b>Sécurisé</b>
    p Sécuriser les service publics numériques
  .anssi Agence nationale de la sécurité des systèmes d'information (ANSSI)

main
  h1.bleu Décision d'homologation de sécurité
  section.introduction
    h2= homologation.nomService
    dl
      dt Type :
      dd= homologation.descriptionNatureService()
      dt Objet :
      dd= homologation.presentation()
      dt Développé par :
      dd= homologation.structureDeveloppement()
      dt Hébergement et localisation des données :
      dd= `${homologation.hebergeur()}, ${homologation.localisationDonnees()}`

  section.risques
    h2 Principaux risques de sécurité identifiés
    p Suggestions de l'ANSSI, détails en annexe
    ul
      each donneesRisque in referentiel.risques()
        li= donneesRisque.description

  section.mesures
    h2 Mesures de sécurité retenues
    p Recommandées par l'ANSSI, détails en annexe

    .legende
      .planifie Planifiées à 3 mois
      .fait Mises en œuvre

    ul
      li
        .nombre-mesures 5 mesures de
        .type-mesure Gouvernance
        .barre
      li
        .nombre-mesures 13 mesures de
        .type-mesure Protection
        .barre
      li
        .nombre-mesures 4 mesures de
        .type-mesure Défense
        .barre
      li
        .nombre-mesures 4 mesures de
        .type-mesure Résilience
        .barre

  section.niveau-protection
    h2 Niveau de protection indicatif
    p Calculé à partir du pourcentage de mesures recommandées par l'ANSSI mises en œuvre
    .niveau.bon
    ul
      li
        .pourcentage 100%
        .criticite-mesure des <b>mesures indispensables</b> selon l'ANSSI mises en œuvre
      li
        .pourcentage 60%
        .criticite-mesure des <b>autres mesures suggérées</b> mises en œuvre

  section
    h2 Avis de l'expert cyber
    p sur le maintien ou la mise en service
    .avis-expert-cyber
      if false
        .disque
        .disque
        .avis.inconnu Inconnu
      else if homologation.avisExpertCyber.favorable()
        .disque
        .disque.vert
        .avis.favorable Favorable
      else
        .disque.rouge
        .disque
        .avis.defavorable Défavorable
    dl
      dt Expert cybersécurité :
      dd= homologation.partiesPrenantes.descriptionExpertCybersecurite()

      dt Recommandations additionnelles :
      if homologation.avisExpertCyber.commentaire
        dd= homologation.avisExpertCyber.commentaire
      else
        dd Aucune

  section
    h2 Équipe
    dl
      dt Décision d'homologation préparée par :
      dd= homologation.descriptionEquipePreparation()

  section
    h2 Calendrier
    dl
      dt Échéance de mise en œuvre des mesures planifiées :
      dd 3 mois
      dt Date d'expiration de l'homologation :
      dd= homologation.descriptionExpiration()

  section.decision
    h2 Décision d'homologation
    dl
      dt Autorité d'homologation :
      dd= homologation.descriptionAutoriteHomologation()
    p.signature Lu et approuvé | date | signature
    ul
      li Conformité au référentiel général de sécurité (RGS)
      li.
        Contribue à la mise en conformité avec les obligations du règlement
        européen pour la protection des données à caractère personnel (RGPD) en
        matière de « sécurité du traitement des données »
    p.notes-finales.
      Par la signature de cette décision, vous attestez avoir pris connaissance
      des risques principaux pour le service numérique et des mesures de
      sécurité retenues, sur la base des informations fournies dans le présent
      dossier et ses pièces jointes. Vous validez son maintien ou sa mise en
      service, dont la sécurité devra être maintenue dans la durée. Une fois
      signée, la décision d'homologation pourra être publiée sur
      MonServiceSécurisé et sur « #{homologation.nomService} ».
      MonServiceSécurisé et l'ANSSI ne peuvent en aucun cas être tenus
      responsables d'incidents de sécurité susceptibles d'affeter le service
      numérique homologué et des conséquences qui pourraient en découler.

  section.pieces-jointes
    h2 Pièces jointes
    ul
      li Visuel du service
      li Compte-rendu de test de pénétration ou de bugbounty

  .saut-page
  h1.vert Annexe 1 – Détail des risques principaux
  .annexe
    section.detail-risques
      dl
        each donneesRisque in referentiel.risques()
          dt= donneesRisque.description
          dd= donneesRisque.descriptionLongue

  .saut-page
  h1.vert Annexe 2 – Détail des mesures de sécurité
  .annexe
    .legende
      .nonRetenu Non retenues
      .planifie Planifiées à 3 mois
      .fait Mesures mises en œuvre
    .legende.avis-anssi
      .indispensable Mesure indispensable (ANSSI)

    section.detail-mesures
      h2 Mesures de gouvernance
      p S'organiser pour gérer la sécurité du service

      ul
        each mesure in homologation.mesures
          li
            .description= mesure.description()
            .statut(class = mesure.statut)
            .indispensable

