extends ./formulaire

mixin descriptionEtape({ etape })
  .numero-etape= etape.numero
  .libelle-etape= etape.libelle

mixin barre-progression({ idEtape })
  .etapes
    each etape in referentiel.etapesParcoursHomologation()
      -
        let classeEtape = 'courante';
        if (etape.numero < idEtape) classeEtape = 'passee';
        if (etape.numero > idEtape) classeEtape = 'future';

      .etape(class = classeEtape)
        if classeEtape === 'passee'
          .numero-etape
            a(href = `/service/${homologation.id}/dossier/edition/etape/${etape.numero}`).coche
          .libelle-etape= etape.libelle
        else
          +descriptionEtape({ etape })

block append styles
  link(href='/statique/assets/styles/etapesDossier.css', rel='stylesheet')

block filArianeNoeudFinal
  div Homologuer

block zone-principale
  form.homologation
    h1.action Homologuer

    if idEtape
      +barre-progression({ idEtape })
    else
      h2 Réalisez et suivez les homologations de sécurité pour votre service

    hr

    block formulaire

    .boutons
      a(href = `/service/${homologation.id}`): .bouton.blanc Revenir à la synthèse
      block bouton-etape

  script(type = 'module', src = '/statique/homologation/etapesDossier.js')
