extends ./formulaire
include ../fragments/inputChoix

mixin inputMesure({ nom, titre, indispensable })
  +inputChoix({
    type: 'radio',
    nom: nom,
    titre: titre,
    items: homologation.descriptionStatutsMesures(),
    decoration: indispensable ? '<div class="mention-anssi mesure-indispensable">Indispensable</div>' : '',
  })

block append styles
  link(href = '/statique/assets/styles/modale.css', rel = 'stylesheet')
  link(href = '/statique/assets/styles/homologation/mesures.css', rel = 'stylesheet')

block formulaire
  form.homologation#mesures
    h1.action Mesures de sécurité
    p.
      Indiquez le statut de la prise en compte des mesures de sécurité proposées par l’ANSSI. 
      Ajoutez, si vous le souhaitez, d’autres mesures de sécurité permettant de répondre aux risques
      spécifiques identifiés pour votre service numérique.

    section
      nav
        a.actif Tout
        each categorie, identifiant in referentiel.categoriesMesures()
          a(id = identifiant)= categorie

      .mesures
         +inputMesure({
           nom: identifiant,
           titre: donnees.description,
           indispensable: donnees.indispensable,
           information: information
              .rideau
                 .modale
                    .fermeture-modale
                    h1= donnees.description, p!= donnees.descriptionLongue,   
          })

    section
      label Mesures spécifiques au service numérique
      #mesures-specifiques
      a.nouvel-item Ajouter une mesure spécifique

    .bouton(identifiant = homologation.id) Enregistrer &nbsp;&nbsp;›

  script(id = 'donnees-mesures-generales', type = 'application/json').
    !{JSON.stringify(homologation.mesures.toJSON().mesuresGenerales || [])}

  script(id = 'donnees-mesures-specifiques', type = 'application/json').
    !{JSON.stringify(homologation.mesures.toJSON().mesuresSpecifiques || [])}

  script(id = 'referentiel-mesures', type = 'application/json').
    !{JSON.stringify(referentiel.mesures())}

  script(id = 'referentiel-categories-mesures', type = 'application/json').
    !{JSON.stringify(referentiel.categoriesMesures())}

  script(id = 'referentiel-statuts-mesures', type = 'application/json').
    !{JSON.stringify(referentiel.statutsMesures())}

  script(type = 'module', src = '/statique/homologation/mesures.js')
