extend ./formulaire

block append styles
  link(href = '/statique/assets/styles/modale.css', rel = 'stylesheet')
  link(href = '/statique/assets/styles/homologation/risques.css', rel = 'stylesheet')

block formulaire
  form.homologation#risques
    h1 Sécurisez le service numérique
    h2 Risques de sécurité
    p.
      Vérifiez ou précisez la liste des risques pour votre service numérique
      afin de sensibiliser les parties prenantes et l'autorité d'homologation
      sur les risques identifiés comme les plus courants.

    section
      each donnees, identifiant in referentiel.risques()
        .risque(id = identifiant)
          .information
            .rideau
              .modale
                .fermeture-modale
                h1= donnees.description
                p!= donnees.descriptionLongue
          .synthese
            .titre= donnees.description
            .niveau-gravite
              input(
                type = 'hidden',
                id = `niveauGravite-${identifiant}`,
                name = `niveauGravite-${identifiant}`,
                value = '',
              )
              .curseur
                each niveau in referentiel.identifiantsNiveauxGravite()
                  .disque(data-niveau = niveau)
              .legende
          a.informations-additionnelles Commentaires (facultatif)

    section
      label Risques spécifiques au service numérique
      #risques-specifiques
      a.nouvel-item Ajouter un risque spécifique

    .bouton(identifiant = homologation.id) Enregistrer &nbsp;&nbsp;›

  script(id = 'donnees-referentiel-niveaux-gravite-risque', type = 'application/json').
    !{JSON.stringify(referentiel.niveauxGravite())}
  script(id = 'donnees-risques-generaux', type = 'application/json').
    !{JSON.stringify(homologation.risques.toJSON().risquesGeneraux || [])}
  script(id = 'donnees-risques-specifiques', type = 'application/json').
    !{JSON.stringify(homologation.risques.toJSON().risquesSpecifiques || [])}
  script(type = 'module', src = '/statique/homologation/risques.js')
