extends ./formulaire

block append styles
  link(href = '/statique/assets/styles/modale.css', rel = 'stylesheet')
  link(href = '/statique/assets/styles/homologation/risques.css', rel = 'stylesheet')

block formulaire
  form.homologation#risques
    h1.action Risques de sécurité
    p.
      Cliquez sur le curseur à droite de chaque risque pour sélectionner le niveau
      de gravité en termes d'impact dans le cas où celui-ci se réaliserait. Vous
      pouvez ajouter des risques complémentaires, si vous en identifiez.<br>
      Cette évaluation sert à connaître les principaux risques de sécurité
      pour le service.

    section
      each donnees, identifiant in referentiel.risques()
        .risque(id = identifiant)
          .puce-information
            .rideau
              .modale
                .fermeture-modale
                h1= donnees.description
                p!= donnees.descriptionLongue
          .synthese
            .titre= donnees.description
            .niveau-gravite
              input(
                type = 'hidden',
                id = `niveauGravite-${identifiant}`,
                name = `niveauGravite-${identifiant}`,
                value = '',
              )
              .curseur
                each niveau in referentiel.identifiantsNiveauxGravite()
                  .disque(data-niveau = niveau)
              .legende
          a.informations-additionnelles Commentaires (facultatif)

    section
      label Risques spécifiques au service numérique
      #risques-specifiques
      a.nouvel-item Ajouter un risque spécifique

    .bouton(idHomologation = homologation.id) Enregistrer &nbsp;&nbsp;›

  script(id = 'donnees-referentiel-niveaux-gravite-risque', type = 'application/json').
    !{JSON.stringify(referentiel.niveauxGravite())}
  script(id = 'donnees-risques-generaux', type = 'application/json').
    !{JSON.stringify(homologation.risques.toJSON().risquesGeneraux || [])}
  script(id = 'donnees-risques-specifiques', type = 'application/json').
    !{JSON.stringify(homologation.risques.toJSON().risquesSpecifiques || [])}
  script(type = 'module', src = '/statique/homologation/risques.js')

block cartes-informations
  .carte
    h2.titre Niveaux de gravité
    h3.sous-titre Découvrez les 5 niveaux définis par l'ANSSI.
    ul.niveaux-gravites
      li
        .disque.rouge
        .
          Critique
      li
        .disque.orange
        .
          Grave
      li
        .disque.jaune
        .
          Significatif
      li
        .disque.vert
        .
          Minime
      li
        .disque.cercle.blanc
        .
          Non concerné
    .plus-details Plus de détails
    .moins-details Moins de détails
    .details
      h4 Critique
      p.
        Incapacité pour l’organisation d’assurer la totalité ou une partie de son activité,
        avec d’éventuels impacts graves sur la sécurité des personnes et des biens.
        L’organisation ne surmontera vraisemblablement pas la situation (sa survie est menacée),
        les secteurs d’activité ou étatiques dans lesquels elle opère seront susceptibles d’être légèrement impactés,
        sans conséquences durables

      h4 Grave
      p.
        Forte dégradation des performances de l’activité, avec d’éventuels impacts significatifs
        sur la sécurité des personnes et des biens. L’organisation surmontera la situation avec
        de sérieuses difficultés (fonctionnement en mode très dégradé), sans impacts sectoriel ou étatique

      h4 Significatif
      p.
        Dégradation des performances de l’activité sans impact sur la sécurité des personnes et des biens.
        L’organisation surmontera la situation malgré quelques difficultés (fonctionnement en mode dégradé)

      h4 Minime
      p.
        Aucun impact opérationnel ni sur les performances de l’activité ni sur la sécurité des personnes et des biens.
        L’organisation surmontera la situation sans trop de difficultés (consommation des marges)

      h4 Non concerné
