extends ../documentImprimable
include ../fragments/statistiquesMesures

block append styles
  link(href='/statique/assets/styles/syntheseSecurite.css', rel='stylesheet')

block append page

  .page
    header
      .bloc-marque
        .marianne
        .republique-francaise RÉPUBLIQUE<br>FRANÇAISE
        .devise
      .logo-mss
        .logo MonService<b>Sécurisé</b>
        .devise Protégeons les services publics en ligne
      .logo-anssi

    main
      h1 Synthèse de la sécurité du service
      .nom-service!= homologation.nomService()

      section.description
        h2 Résumé
        dl
          dt Type :
          dd= homologation.descriptionTypeService()
        dl
          dt Données stockées :
          dd( class = `localisation-donnees ${homologation.localisationDonnees()}`)= homologation.descriptionLocalisationDonnees()
        dl
          dt Statut :
          dd= homologation.descriptionStatutDeploiement()

        dl.presentation
          dt Présentation :
          dd= homologation.presentation()

      section.mesures
        h2 Mesures de sécurité

        h3 Par niveau de criticité
        .statistiques-par-criticite
          +statistiquesMesures('Indispensables')
          +statistiquesMesures('Recommandées')
        .total-mesures
          .total
            strong Total :
            span &nbsp;#{homologation.nombreTotalMesuresGenerales()} mesures proposées par l'ANSSI.

    footer
      .infos-indice-cyber.
        * L'indice cyber est calculé à partir des mesures de sécurité mises en
        œuvre renseignées par l'équipe par rapport à l'ensemble des mesures
        proposées par l'ANSSI. Il fournit une évaluation indicative du niveau
        de sécurité du service.

      .nature-document
        span.nom-mss MonServiceSécurisé – 
        span Homologation de sécurité du service « #{homologation.nomService()} »



  script(type = 'module', src = '/statique/homologation/syntheseSecurite.js')
