extends ../documentImprimable

block append styles
  link(href='/statique/assets/styles/syntheseSecurite.css', rel='stylesheet')

block append page
  script(src='/bibliotheques/chart.js')
  script(src='/bibliotheques/chartjs-plugin-datalabels.js')

  .page
    header
      .bloc-marque
        .marianne
        .republique-francaise RÉPUBLIQUE<br>FRANÇAISE
        .devise
      .logo-mss
        .logo MonService<b>Sécurisé</b>
        .devise Protégeons les services publics en ligne
      .logo-anssi

    main
      h1 Synthèse de la sécurité du service
      .nom-service!= homologation.nomService()

      section.description
        h2 Résumé
        dl
          dt Type :
          dd= homologation.descriptionTypeService()
        dl
          dt Données stockées :
          dd( class = `localisation-donnees ${homologation.localisationDonnees()}`)= homologation.descriptionLocalisationDonnees()
        dl
          dt Statut :
          dd= homologation.descriptionStatutDeploiement()

        dl.presentation
          dt Présentation :
          dd= homologation.presentation()

      section.mesures
        h2 Mesures de sécurité

        h3 Par niveau de criticité
        .regroupement-criticite
          - const statistiquesMesures = homologation.statistiquesMesures();
          - const nombreTotalMesuresGenerales = homologation.nombreTotalMesuresGenerales();

          - const nombreTotalMesuresIndispensables = homologation.nombreTotalMesuresGeneralesIndispensables();
          - const mesuresIndispensablesFaites = statistiquesMesures.nombreIndispensables().fait;
          - const mesuresIndispensablesEnCours = statistiquesMesures.nombreIndispensables().enCours;
          - const mesuresIndispensablesNonFaites = statistiquesMesures.nombreIndispensables().nonFait;
          - const mesuresIndispensablesARemplir = nombreTotalMesuresIndispensables - mesuresIndispensablesFaites - mesuresIndispensablesEnCours - mesuresIndispensablesNonFaites;
          - const mesuresIndispensablesRestantes = nombreTotalMesuresIndispensables - mesuresIndispensablesFaites;
          .graphique.indispensables(
              data-faites = mesuresIndispensablesFaites,
              data-en-cours = mesuresIndispensablesEnCours,
              data-non-faites = mesuresIndispensablesNonFaites,
              data-a-remplir = mesuresIndispensablesARemplir,
            )
            h4 Indispensables
            .canvas
              canvas#indispensables
            .reste-mesures
              p Il reste
              p.mesures-restantes #{mesuresIndispensablesRestantes} mesures
              p à mettre en œuvre

          - const nombreTotalMesuresRecommandees = nombreTotalMesuresGenerales - nombreTotalMesuresIndispensables;
          - const mesuresRecommandeesFaites = statistiquesMesures.nombreRecommandees().fait;
          - const mesuresRecommandeesEnCours = statistiquesMesures.nombreRecommandees().enCours;
          - const mesuresRecommandeesNonFaites = statistiquesMesures.nombreRecommandees().nonFait;
          - const mesuresRecommandeesARemplir = nombreTotalMesuresRecommandees - mesuresRecommandeesFaites - mesuresRecommandeesEnCours - mesuresRecommandeesNonFaites;
          - const mesuresRecommandeesRestantes = nombreTotalMesuresRecommandees - mesuresRecommandeesFaites;
          .graphique.recommandees(
            data-faites = mesuresRecommandeesFaites,
            data-en-cours = mesuresRecommandeesEnCours,
            data-non-faites = mesuresRecommandeesNonFaites,
            data-a-remplir = mesuresRecommandeesARemplir,
          )
            h4 Mesures recommandées
            .canvas
              canvas#recommandees
            .reste-mesures
              p Il reste
              p.mesures-restantes #{mesuresRecommandeesRestantes} mesures
              p à mettre en œuvre

          .total-mesures
            .total
              strong Total :
              span &nbsp;#{homologation.nombreTotalMesuresGenerales()} mesures proposées par l'ANSSI.
            .legendes
              .legende.legende-faites Faites
              .legende.legende-en-cours En cours
              .legende.legende-non-faites Non faites
              .legende.legende-a-remplir À remplir

  script(type = 'module', src = '/statique/homologation/syntheseSecurite.js')
