extends ../deuxColonnes
include ../cartes/indiceCyber

mixin action({ id, description, indisponible, sousTitre, url, statut })
  a(
    href = ((indisponible && !avecAccesEtapier) ? '#' : url),
    class = ((indisponible && !avecAccesEtapier) ? 'indisponible' : '')
  )
    .action(class = `${id} ${(indisponible && !avecAccesEtapier) ? 'indisponible' : ''}`)
      .statut(class = (statut === InformationsHomologation.COMPLETES ? 'faite' : ''))
      div(class = `icone-action`)
      h2= description
      .sous-titre= sousTitre

mixin outilComplementaire({ id, nom, description, lien })
  .outil-complementaire(class = id)
    .titre-outil
      .icone-outil
      h3= nom
    .description #{description} #[a.vers-complements(href = lien.url)= lien.texte]

block append styles
  link(href = '/statique/assets/styles/homologation/synthese.css', rel = 'stylesheet')

block retour
  a(href = '/espacePersonnel') ‹&nbsp;&nbsp;Mon espace personnel

block zone-principale
  .details-service
    h1.titre-service!= service.nomService()

    .actions
      each actionSaisie in actionsSaisie
        +action(actionSaisie)

    .cartes-outils-complementaires
      h2 Outils complémentaires
      .outils-complementaires
        +outilComplementaire({
          id: 'risques',
          nom: 'Risques',
          description: 'Cartographiez les impacts potentiels des risques de sécurité les plus courants.',
          lien: { url: `/homologation/${service.id}/risques`, texte: 'Remplir'}
        })
        +outilComplementaire({
          id: 'contactsUtiles',
          nom: 'Contacts utiles',
          description: 'Créez la liste des personne contribuant au fonctionnement du service à contacter en cas de besoin.',
          lien: { url: `/homologation/${service.id}/rolesResponsabilites`, texte: 'Compléter' }
        })

    .telechargement-pdfs
      a.bouton.nouvel-onglet(
        href = `/homologation/${service.id}/syntheseSecurite`,
        target = `blank`,
        rel = ``
      ) Télécharger la synthèse
      a.ancienne-version.vers-complements(href = `/homologation/${service.id}/decision`) Télécharger les annexes (+ synthèse 1ère version)

block cartes-informations
  - const indiceCyber = service.indiceCyber()
  +indiceCyber({ referentiel, indiceCyber })

  +carteInformations({ titre: 'Pour les services référencés avant le 12/10/2022' })
    .liens
      a.vers-complements(href = `/homologation/${service.id}/avisExpertCyber`) Accéder à « Avis sur le dossier »
