extends ../documentImprimable

block append styles
  link(href='/statique/assets/styles/syntheseSecurite.css', rel='stylesheet')

block append page
  script(src='/bibliotheques/chart.js')
  script(src='/bibliotheques/chartjs-plugin-datalabels.js')

  .page
    header
      .bloc-marque
        .marianne
        .republique-francaise RÉPUBLIQUE<br>FRANÇAISE
        .devise
      .logo-mss
        .logo MonService<b>Sécurisé</b>
        .devise Protégeons les services publics en ligne
      .logo-anssi

    main
      h1 Synthèse de la sécurité du service
      .nom-service!= homologation.nomService()

      section.description
        h2 Résumé
        dl
          dt Type :
          dd= homologation.descriptionTypeService()
        dl
          dt Données stockées :
          dd( class = `localisation-donnees ${homologation.localisationDonnees()}`)= homologation.descriptionLocalisationDonnees()
        dl
          dt Statut :
          dd= homologation.descriptionStatutDeploiement()

        dl.presentation
          dt Présentation :
          dd= homologation.presentation()

      section.mesures
        h2 Mesures de sécurité

        h3 Par niveau de criticité
        .regroupement-criticite
          - const statistiquesMesures = homologation.statistiquesMesures();
          - const nombreTotalMesuresIndispensables = homologation.nombreTotalMesuresGeneralesIndispensables();
          - const mesuresFaites = statistiquesMesures.nombreIndispensables().fait;
          - const mesuresEnCours = statistiquesMesures.nombreIndispensables().enCours;
          - const mesuresNonFaites = statistiquesMesures.nombreIndispensables().nonFait;
          - const mesuresARemplir = nombreTotalMesuresIndispensables - mesuresFaites - mesuresEnCours - mesuresNonFaites;
          - const mesuresRestantes = nombreTotalMesuresIndispensables - mesuresFaites;

          .graphique.indispensables(
              data-faites = mesuresFaites,
              data-en-cours = mesuresEnCours,
              data-non-faites = mesuresNonFaites,
              data-a-remplir = mesuresARemplir,
            )
            h4 Indispensables
            .canvas
              canvas#indispensables
            .reste-mesures
              p Il reste
              p.mesures-restantes #{mesuresRestantes} mesures
              p à mettre en œuvre

          .total-mesures
            .total
              strong Total :
              span &nbsp;#{homologation.nombreTotalMesuresGenerales()} mesures proposées par l'ANSSI.
            .legendes
              .legende.legende-faites Faites
              .legende.legende-en-cours En cours
              .legende.legende-non-faites Non faites
              .legende.legende-a-remplir À remplir

  script(type = 'module', src = '/statique/homologation/syntheseSecurite.js')
