mixin documentTelechargeable(nom, description, type, idLien, peutEtreIndisponible)
  - const sourceImage = `/statique/assets/images/icone_telechargement_${type.toLowerCase()}.svg`
  .document-telechargeable(id= `conteneur-${idLien}`)
    .contenu
      img.icone-type-document(src=sourceImage)
      .contenu-texte
        p.titre-document= nom
        p.description-document!= description
    a.lien-telechargement.bouton(href='', target='_blank', rel='noopener', id=idLien) Télécharger

.bloc-contenu#contenu-telechargement
  form.conteneur-formulaire
    +documentTelechargeable('Synthèse de la sécurité du service', "Ce PDF résume en 1 page l'état de la sécurité du service.", 'PDF', 'lien-synthese')
    +documentTelechargeable('Annexes', 'Ce PDF détaille toutes les informations renseignées sur la sécurité du service.', 'PDF', 'lien-annexes')
    +documentTelechargeable("Décision d'homologation de sécurité", "Ce PDF est le document de décision pouvant être signé par l'autorité d'homologation.", 'PDF', 'lien-decision')
    +documentTelechargeable('Tous les documents', 'Ce fichier .ZIP contient les <span id="nbPdfDisponibles"></span> PDFs à télécharger.', 'ZIP', 'lien-archive')
