extends ./formulaireEtapier

mixin dossier({ statut, dossier, idService })
  -
    const duree = dossier.descriptionDureeValidite()
    const prochaineHomologation = dossier.descriptionProchaineDateHomologation()

  .dossier
    .contenu-dossier
      .statut= statut
      div= `Durée : ${duree}`
      div= `Prochaine homologation : ${prochaineHomologation}`
    if idService
      nav
        a(href = `/service/${idService}/dossier/edition/etape/${premiereEtapeParcours.id}`) Consulter

mixin dossierFinalise({ dossier })
  +dossier({ statut: 'Homologation finalisée', dossier })

mixin dossierCourant({ ...donnees })
  +dossier({ statut: 'Homologation en cours', ...donnees })

block formulaire
  -
    const { dossiers } = service
    const dossiersFinalises = dossiers.finalises();
    const dossierCourant = dossiers.dossierCourant()

  .dossiers
    if dossierCourant
      +dossierCourant({ dossier: dossierCourant, idService: service.id })

    each dossier in dossiersFinalises
      +dossierFinalise({ dossier })

block bouton-etape
  button.bouton#suivant(
    data-id-homologation = service.id,
    data-id-etape-suivante = premiereEtapeParcours.id
    ) Nouvelle homologation
