extends ./formulaireEtapier

mixin dossier({ statut, dossier, idService })
  -
    const etapeCourante = dossier.etapeCourante()
    const numeroDerniereEtapeCompletee = referentiel.numeroEtape(etapeCourante) - 1
    const nombreTotalEtapes = referentiel.derniereEtapeParcours().numero

  .dossier
    .contenu-dossier
      .statut= statut
      .details
        if dossier.finalise
          div= `Durée : ${dossier.descriptionDureeValidite()}`
          div= `Prochaine homologation : ${dossier.descriptionProchaineDateHomologation()}`
        else
          div= `Étapes complétées : ${numeroDerniereEtapeCompletee} / ${nombreTotalEtapes}`
    if idService
      nav
        a(href = `/service/${idService}/dossier/edition/etape/${etapeCourante}`) Consulter

mixin dossierFinalise({ dossier })
  +dossier({ statut: 'Homologation finalisée', dossier })

mixin dossierCourant({ ...donnees })
  +dossier({ statut: 'Homologation en cours', ...donnees })

block formulaire
  -
    const { dossiers } = service
    const dossiersFinalises = dossiers.finalises();
    const dossierCourant = dossiers.dossierCourant()

  .dossiers
    if dossierCourant
      +dossierCourant({ dossier: dossierCourant, idService: service.id })

    each dossier in dossiersFinalises
      +dossierFinalise({ dossier })

    script(type = "module", src = "/statique/homologation/etapes/dossiers.js")

block bouton-etape
  button.bouton#suivant(
    data-id-homologation = service.id,
    data-id-etape-suivante = premiereEtapeParcours.id
    ) Nouvelle homologation
