extends ./formulaireEtapier

mixin dossier({ statut, dossier, service, indiceCyber, indiceCyberPersonnalise, afficheStatutHomologation, afficheActions, afficheTamponHomologation, classeCss })
  -
    const etapeCourante = referentiel.etapeDossierAutorisee(dossier.etapeCourante(), autorisationsService.peutHomologuer)
    const numeroDerniereEtapeCompletee = referentiel.numeroEtape(etapeCourante)
    const nombreTotalEtapes = referentiel.derniereEtapeParcours(autorisationsService.peutHomologuer).numero
    const estLectureSeule = autorisationsService.HOMOLOGUER.estLectureSeule
    const texteTronque = (texte, tailleLimite) => {
      const texteDecode = decode(texte);
      const longueurInitiale = texteDecode.length;
      let resultat = texteDecode.substring(0, tailleLimite);
      if (resultat.length < longueurInitiale) resultat += '…';
      return resultat
    }
    const dateExpiration = service.dossiers.dateExpiration();
    const estImporte = dossier.importe

  .dossier(class=classeCss)
    div
      .statut
        span= statut
        if estImporte
          .infobulle-importe
            .conteneur-image
              img(src="/statique/assets/images/icone_infobulle.svg" alt="Information sur le dossier importé")
            .conteneur-information
              p Vous n'avez pas utilisé MonServiceSécurisé pour l'homologation de ce service, ainsi il ne dispose pas d'Indice Cyber, de tampon d'homologation ni de documents associés.
        if afficheStatutHomologation
          - const statutHomologation = dossier.statutHomologation()
          .statut-homologation(class=statutHomologation)
            span!= referentiel.statutHomologation(statutHomologation).libelle
              if dateExpiration && statutHomologation === 'bientotExpiree'
                span!= dateExpiration
      .contenu-gauche
        .contenu-statut
          .conteneur-statut-indice-cyber
            if estImporte
              .conteneur-importe
                .badge-importe
                  span Homologation importée
                .badge-aucun-indice-cyber
                  span Aucun Indice Cyber
            else
                .indices-cyber
                  if indiceCyber !== undefined
                    .indice-cyber
                      b Indice cyber ANSSI&nbsp;&nbsp;&nbsp;
                      span.conteneur-indice-cyber
                        span.note-indice-cyber!= `${indiceCyber.toFixed(1)}/${referentiel.indiceCyberNoteMax()}`
                  if indiceCyberPersonnalise !== undefined
                    .indice-cyber.personnalise
                      b Indice personnalisé&nbsp;&nbsp;&nbsp;
                      span.conteneur-indice-cyber
                        span.note-indice-cyber!= `${indiceCyberPersonnalise.toFixed(1)}/${referentiel.indiceCyberNoteMax()}`
        .contenu-details
          .details
            if dossier.finalise
              div!= `Autorité d'homologation : ${texteTronque(dossier.autorite.nom, 37)} | ${texteTronque(dossier.autorite.fonction, 37)}`
              div= `Date d'échéance : ${dossier.descriptionProchaineDateHomologation()}`
            else
              - const titreEtape = referentiel.etapesParcoursHomologation().find((e) => e.id === etapeCourante)
              .contenu-etape-courante
                .numero-etape!= `Étape ${numeroDerniereEtapeCompletee} sur ${nombreTotalEtapes}`
                .titre-etape!= titreEtape.libelle
    if afficheActions
      .conteneur-actions
        button.bouton.bouton-avec-icone.bouton-tertiaire#affiche-documents(type='button') Accéder aux documents

        if !estLectureSeule
          button.bouton.bouton-avec-icone.bouton-tertiaire#supprime-dossier-courant(type='button') Supprimer le projet d'homologation

        a.lien-etape-courante(href = `/service/${service.id}/homologation/edition/etape/${etapeCourante}`)
    if afficheTamponHomologation
      button.bouton.bouton-tertiaire.bouton-avec-icone#bouton-tampon-homologation(type='button') Télécharger l'encart d'homologation


mixin dossierFinalise({ dossier, service, afficheStatutHomologation, afficheTamponHomologation })
  - const dateDecision = new Intl.DateTimeFormat('fr-FR').format(new Date(dossier.decision.dateHomologation))
  +dossier({ statut: `Décision d'homologation du ${dateDecision}`, dossier, service, afficheStatutHomologation, afficheTamponHomologation, indiceCyber: dossier.indiceCyber, indiceCyberPersonnalise: dossier.indiceCyberPersonnalise })

mixin dossierCourant({ dossier, idService, service })
  +dossier({ statut: "Projet d'homologation", dossier, service, indiceCyber: service.indiceCyber().total, indiceCyberPersonnalise: service.indiceCyberPersonnalise().total, afficheActions: true, classeCss: "dossier-courant"})

block append styles
  link(href='/statique/assets/styles/dossiers.css', rel='stylesheet')

block modale
  include modaleEncartHomologation
  include modaleParcoursHomologation

block title
  title Homologuer - Accueil | MonServiceSécurisé

block contenu-etape
  -
    const { dossiers } = service
    const dossierCourant = dossiers.dossierCourant()
    const dossierActif = dossiers.dossierActif()
    const dossiersPasses = dossiers.archives();
    const aucunDossier = !dossierCourant && !dossierActif && !dossiersPasses.length

  .dossiers
    -
      const etapeSuivante = dossierCourant?.etapeCourante() ?? premiereEtapeParcours.id
      const estLectureSeule = autorisationsService.HOMOLOGUER.estLectureSeule
    if dossierCourant
      h3.titre-section Projet d'homologation en cours
      +dossierCourant({ dossier: dossierCourant, service })
    else
      if(!estLectureSeule && !aucunDossier)
        button.bouton#commencer-homologation(type="button") Nouvelle homologation

    if dossierActif
      h3.titre-section Dernière homologation validée
      +dossierFinalise({ dossier: dossierActif, service, afficheStatutHomologation: true, afficheTamponHomologation: peutVoirTamponHomologation })

    if dossiersPasses.length
      h3.titre-section Homologations passées
      each dossier in dossiersPasses
        +dossierFinalise({ dossier, service, afficheStatutHomologation: false })

    if aucunDossier
      .aucun-projets
        img(src="/statique/assets/images/dossiers.png" alt="Illustration du dossier d'homologation vide")
        p Aucun projet d’homologation n’est en cours, ni aucune homologation n’a été validée.
        button.bouton#commencer-homologation(type="button") Commencer une nouvelle homologation

    script(type = "module", src = "/statique/service/homologation/dossiers.js")

block contenu-demarche-homologation