extends ./formulaireEtapier

mixin dossier({ statut, dossier, service, afficheIndiceCyber, afficheStatutHomologation, afficheActions })
  -
    const etapeCourante = referentiel.etapeDossierAutorisee(dossier.etapeCourante(), autorisationsService.peutHomologuer)
    const numeroDerniereEtapeCompletee = referentiel.numeroEtape(etapeCourante)
    const nombreTotalEtapes = referentiel.derniereEtapeParcours().numero
    const estLectureSeule = autorisationsService.HOMOLOGUER.estLectureSeule
    const texteTronque = (texte, tailleLimite) => {
      const texteDecode = decode(texte);
      const longueurInitiale = texteDecode.length;
      let resultat = texteDecode.substring(0, tailleLimite);
      if (resultat.length < longueurInitiale) resultat += '…';
      return resultat
    }

  .dossier
    .contenu-dossier
      .contenu-gauche
        .contenu-statut
          .statut= statut
          if afficheIndiceCyber
            - const indiceCyber = service.indiceCyber().total.toFixed(1)
            .indice-cyber
              b Indice cyber&nbsp;
              span.conteneur-indice-cyber
                span.note-indice-cyber!= `${indiceCyber}/${referentiel.indiceCyberNoteMax()}`
          if afficheStatutHomologation
            - const statutHomologation = dossier.statutHomologation()
            .statut-homologation(class=statutHomologation)
              span!= referentiel.statutHomologation(statutHomologation).libelle
        .contenu-details
          .details
            if dossier.finalise
              div!= `Autorité d'homologation : ${texteTronque(dossier.autorite.nom, 37)} | ${texteTronque(dossier.autorite.fonction, 37)}`
              div= `Date d'échéance : ${dossier.descriptionProchaineDateHomologation()}`
            else
              if(!estLectureSeule)
                - const titreEtape = referentiel.etapesParcoursHomologation().find((e) => e.id === etapeCourante)
                .contenu-etape-courante
                  .numero-etape!= `Étape ${numeroDerniereEtapeCompletee} sur ${nombreTotalEtapes}`
                  .titre-etape!= titreEtape.libelle
    if afficheActions
      .conteneur-actions
        button.bouton.bouton-avec-icone.bouton-tertiaire#affiche-documents(type='button') Accéder aux documents
        a.lien-etape-courante(href = `/service/${service.id}/homologation/edition/etape/${etapeCourante}`)
          img.fleche(src='/statique/assets/images/forme_chevron_bleu.svg' alt='')

mixin dossierFinalise({ dossier, service })
  - const dateDecision = new Intl.DateTimeFormat('fr-FR').format(new Date(dossier.decision.dateHomologation))
  +dossier({ statut: `Décision d'homologation du ${dateDecision}`, dossier, afficheStatutHomologation: true })

mixin dossierCourant({ dossier, idService, service })
  +dossier({ statut: "Projet d'homologation", dossier, service, afficheIndiceCyber: true, afficheActions: true })

block append styles
  link(href='/statique/assets/styles/dossiers.css', rel='stylesheet')

block title
  title Homologuer - Accueil | MonServiceSécurisé

block formulaire
  -
    const { dossiers } = service
    const dossierCourant = dossiers.dossierCourant()
    const dossierActif = dossiers.dossierActif()
    const dossiersPasses = dossiers.archives();

  .dossiers
    if dossierCourant
      h3.titre-section Projet d'homologation en cours
      +dossierCourant({ dossier: dossierCourant, service })

    if dossierActif
      h3.titre-section Dernière homologation validée
      +dossierFinalise({ dossier: dossierActif, service })

    if dossiersPasses.length
      h3.titre-section Homologations passées
      each dossier in dossiersPasses
        +dossierFinalise({ dossier })

    script(type = "module", src = "/statique/service/homologation/dossiers.js")

block bouton-etape
  -
    const etapeSuivante = dossierCourant?.etapeCourante() ?? premiereEtapeParcours.id
    const estLectureSeule = autorisationsService.HOMOLOGUER.estLectureSeule

  if(!estLectureSeule)
    button.bouton#suivant(
      data-id-homologation = service.id,
      data-id-etape-suivante = etapeSuivante
      ) Nouvelle homologation
