extends ./formulaireEtapier
include ../fragments/texteTronque

mixin dossier({ statut, dossier, idService })
  -
    const etapeCourante = dossier.etapeCourante()
    const numeroDerniereEtapeCompletee = referentiel.numeroEtape(etapeCourante) - 1
    const nombreTotalEtapes = referentiel.derniereEtapeParcours().numero

  .dossier
    .contenu-dossier
      .statut= statut
      .details
        if dossier.finalise
          div= `Durée : ${dossier.descriptionDureeValidite()}`
          div= `Prochaine homologation : ${dossier.descriptionProchaineDateHomologation()}`
        else
          div= `Étapes complétées : ${numeroDerniereEtapeCompletee} / ${nombreTotalEtapes}`
    if idService
      nav
        a(href = `/service/${idService}/homologation/edition/etape/${etapeCourante}`) Consulter

mixin dossierFinalise({ dossier })
  +dossier({ statut: 'Homologation finalisée', dossier })

mixin dossierCourant({ ...donnees })
  +dossier({ statut: 'Homologation en cours', ...donnees })

block header-titre-page
  h3
    +texteTronque({texte: service.nomService() || ''})

block formulaire
  -
    const { dossiers } = service
    const dossiersFinalises = dossiers.finalises();
    const dossierCourant = dossiers.dossierCourant()

  .dossiers
    if dossierCourant
      +dossierCourant({ dossier: dossierCourant, idService: service.id })

    each dossier in dossiersFinalises
      +dossierFinalise({ dossier })

    script(type = "module", src = "/statique/service/homologation/dossiers.js")

block bouton-etape
  - const etapeSuivante = dossierCourant?.etapeCourante() ?? premiereEtapeParcours.id

  button.bouton#suivant(
    data-id-homologation = service.id,
    data-id-etape-suivante = etapeSuivante
    ) Nouvelle homologation
