extends ./formulaire

mixin descriptionEtape({ etape })
  .numero-etape= etape.numero
  .libelle-etape= etape.libelle

mixin barre-progression({ numeroEtapeCourante })
  .etapes
    each etape in referentiel.etapesParcoursHomologation()
      -
        let classeEtape = 'courante';
        if (etape.numero < numeroEtapeCourante) classeEtape = 'passee';
        if (etape.numero > numeroEtapeCourante) classeEtape = 'future';

      .etape(class = classeEtape)
        if classeEtape === 'passee'
          .numero-etape
            a(href = `/service/${service.id}/dossier/edition/etape/${etape.id}`).coche
          .libelle-etape= etape.libelle
        else
          +descriptionEtape({ etape })

block append styles
  link(href='/statique/assets/styles/etapesDossier.css', rel='stylesheet')
  link(href = '/statique/assets/styles/modules/validation.css', rel = 'stylesheet')

block filArianeNoeudFinal
  div Homologuer

block zone-principale
  form.homologation
    h1.action Homologuer

    if idEtape
      +barre-progression({ numeroEtapeCourante: referentiel.numeroEtape(idEtape) })
    else
      h2 Réalisez et suivez les homologations de sécurité pour votre service

    hr

    block formulaire

    .enregistrement
      .boutons
        a(href = `/service/${service.id}`): .bouton.blanc Revenir à la synthèse
        block bouton-etape
