extends ../parcoursService
include ../fragments/texteTronque
include ../fragments/indiceCyber/radarIndiceCyber

block title
  title Indice cyber | MonServiceSécurisé

block append styles
  link(href = '/statique/assets/styles/homologation/indiceCyber.css', rel = 'stylesheet')

block append scripts
  +composantSvelte('indiceCyber.js')
  +composantSvelte('indiceCyberPersonnalise.js')
  script(type = 'module', src = '/statique/service/indiceCyber.js')
  script(id = 'donnees-indice-cyber', type = 'application/json').
    !{JSON.stringify({ indiceCyber: service.indiceCyber().total, noteMax: referentiel.indiceCyberNoteMax() })}
  script(id = 'donnees-indice-cyber-personnalise', type = 'application/json').
    !{JSON.stringify({ indiceCyberPersonnalise: service.indiceCyberPersonnalise().total })}

block titre
  h1 Sécuriser

block sous-titre
  h2
    | Suivez l'
    b indice cyber ANSSI&nbsp;
    | et l'
    b indice cyber personnalisé&nbsp;
    | de votre service

block header-titre-page
  h3
    +texteTronque({ texte: service.nomService() || '' })

mixin contenuIndiceCyber(idCible, titre, donneesIndiceCyber, noteMax, donneesTrancheIndiceCyber, referentiel, avecRecommandationANSSI)
  .conteneur-descriptif
    .disque-indice
      div(id=idCible)
    .contenu-descriptif
      h4!= titre
      if block
        block
  .conteneur-plus-details
    details(open=true)
      summary(role='button')
      .contenu-plus-details
        .conteneur-graphique
          h4 Répartition par catégorie
          +radarIndiceCyber([
            donneesIndiceCyber.gouvernance,
            donneesIndiceCyber.resilience,
            donneesIndiceCyber.defense,
            donneesIndiceCyber.protection,
          ], noteMax, idCible)
        .conteneur-explication-valeur
          .titre
            img.icone(src="/statique/assets/images/icone_explication_tranche.svg")
            h4 Quelle est la valeur de l'indice cyber ?
          p Face aux risques les plus courants, un indice cyber peut être considéré comme
          ul.liste-tranches
            each tranche in referentiel.descriptionsTranchesIndiceCyber(donneesIndiceCyber.total)
              li(class=`${tranche.trancheCourante ? 'tranche-courante' : ''}`)= tranche.description
  if avecRecommandationANSSI
    .conteneur-recommandation-anssi
      img.fond(src="/statique/assets/images/fond_recommandation_anssi.svg")
      .titre
        img.icone(src="/statique/assets/images/icone_recommandation_anssi.svg")
        h3 Recommandation indicative de l'ANSSI en cas de décision d'homologation
      .conteneur-duree-recommandee
        if(donneesTrancheIndiceCyber.conseilHomologation)
          p= donneesTrancheIndiceCyber.conseilHomologation
        if(!donneesTrancheIndiceCyber.deconseillee)
          .separateur
          p Durée d'homologation conseillée
          p#duree-recommandee= donneesTrancheIndiceCyber.dureeHomologationConseillee

block formulaire
  - const indiceCyber = service.indiceCyber()
  - const indiceCyberPersonnalise = service.indiceCyberPersonnalise()
  - const noteMax = referentiel.indiceCyberNoteMax()
  - const trancheIndiceCyber = referentiel.trancheIndiceCyber(indiceCyber.total)
  - const trancheIndiceCyberPersonnalise = referentiel.trancheIndiceCyber(indiceCyberPersonnalise.total)
  - const nombreMesuresSpecifiques = service.mesuresSpecifiques().nombre()
  - const nombreMesuresNonFait = service.nombreTotalMesuresNonFait()
  - const metAuPluriel = (chaine, estAuPluriel) => estAuPluriel ? `${chaine}s` : chaine
  .conteneur-indice-cyber
    .onglets
      button.onglet.actif(type="button" data-cible='indice-cyber-ANSSI')
        span Indice cyber ANSSI
        span.note-onglet!= `${indiceCyber.total.toFixed(1)}/${noteMax}`
      button.onglet(type="button" data-cible='indice-cyber-personnalise')
        span Indice cyber personnalisé
        span.note-onglet!= `${indiceCyberPersonnalise.total.toFixed(1)}/${noteMax}`
    #indice-cyber-ANSSI.contenu-global
      +contenuIndiceCyber('conteneur-indice-cyber', 'Indice cyber ANSSI', indiceCyber, noteMax, trancheIndiceCyber, referentiel, true)
        p
          | L'indice cyber est une évaluation indicative du niveau de sécurisation du service, calculé à partir des mesures «&nbsp;faites » et «&nbsp;partielles » proposées par #{referentielConcernes} dans MonServiceSécurisé.
          | Il est un indicateur de la qualité de la démarche de sécurisation du service.
        a(href="https://aide.monservicesecurise.cyber.gouv.fr/fr/article/lindice-cyber-que-represente-t-il-et-comment-est-il-calcule-1l94rzd/" target="_blank") Comment est calculé l’indice cyber ANSSI ?
    #indice-cyber-personnalise.contenu-global
      +contenuIndiceCyber('conteneur-indice-cyber-personnalise', 'Indice cyber personnalisé', indiceCyberPersonnalise, noteMax, trancheIndiceCyberPersonnalise, referentiel)
        p L'indice cyber personnalisé reprend les même règles de calcul que l'indice cyber ANSSI en intégrant également les mesures spécifiques ajoutées par l'équipe et excluant les mesures de #{referentielConcernes} signalées comme "non prises en compte".
        p.inclusion-exclusion
          b Incluant :&nbsp;
          | #{nombreMesuresSpecifiques} #{metAuPluriel('mesure', nombreMesuresSpecifiques > 1)} #{metAuPluriel('spécifique', nombreMesuresSpecifiques > 1)} #{metAuPluriel('ajoutée', nombreMesuresSpecifiques > 1)}.
          br
          b Excluant :&nbsp;
          | #{nombreMesuresNonFait} #{metAuPluriel('mesure', nombreMesuresNonFait > 1)} #{metAuPluriel('proposée', nombreMesuresNonFait > 1)} par #{referentielConcernes}, "non #{metAuPluriel('prise', nombreMesuresNonFait > 1)} en compte" par l'équipe.
        a(href="https://aide.monservicesecurise.cyber.gouv.fr/fr/article/lindice-cyber-personnalise-que-represente-t-il-et-comment-est-il-calcule-13ffv4p" target="_blank") Comment est calculé l’indice cyber personnalisé ?
