extends ../parcoursService
include ../fragments/texteTronque
include ../fragments/indiceCyber/radarIndiceCyber

block title
  title Indice cyber | MonServiceSécurisé

block append styles
  link(href = '/statique/assets/styles/homologation/indiceCyber.css', rel = 'stylesheet')

block append scripts
  script(type = 'module', src = '/statique/composants-svelte/indiceCyber.js')
  script(type = 'module', src = '/statique/service/indiceCyber.js')
  script(id = 'indice-cyber', type = 'application/json').
    !{JSON.stringify({ indiceCyber: service.indiceCyber().total, noteMax: referentiel.indiceCyberNoteMax() })}

block titre
  h1 Sécuriser

block sous-titre
  h2 Suivez l’indice cyber de votre service

block header-titre-page
  h3
    +texteTronque({ texte: service.nomService() || '' })

block formulaire
  - const indiceCyber = service.indiceCyber()
  - const noteMax = referentiel.indiceCyberNoteMax()
  - const trancheIndiceCyber = referentiel.trancheIndiceCyber(indiceCyber.total)
  .conteneur-indice-cyber
    .conteneur-descriptif
      .disque-indice
        #conteneur-indice-cyber
      .contenu-descriptif
        p
          | L'indice cyber est une évaluation indicative du niveau de sécurisation du service, calculé à partir des mesures «&nbsp;faites » et «&nbsp;partielles » proposées par #{referentielConcernes} dans MonServiceSécurisé.
          | Il est un indicateur de la qualité de la démarche de sécurisation du service.
    .conteneur-plus-details
      details(open=true)
        summary(role='button')
        .contenu-plus-details
          .conteneur-graphique
            h4 Répartition par catégorie
            +radarIndiceCyber([
              indiceCyber.gouvernance,
              indiceCyber.resilience,
              indiceCyber.defense,
              indiceCyber.protection,
            ], noteMax)
          .conteneur-explication-valeur
            .titre
              img.icone(src="/statique/assets/images/icone_explication_tranche.svg")
              h4 Quelle est la valeur de l'indice cyber ?
            p Face aux risques les plus courants, un indice cyber peut être considéré comme
            ul.liste-tranches
              each tranche in referentiel.descriptionsTranchesIndiceCyber(indiceCyber.total)
                li(class=`${tranche.trancheCourante ? 'tranche-courante' : ''}`)= tranche.description
    .conteneur-recommandation-anssi
      img.fond(src="/statique/assets/images/fond_recommandation_anssi.svg")
      .titre
        img.icone(src="/statique/assets/images/icone_recommandation_anssi.svg")
        h3 Recommandation indicative de l'ANSSI en cas de décision d'homologation
      .conteneur-duree-recommandee
        if(trancheIndiceCyber.conseilHomologation)
          p= trancheIndiceCyber.conseilHomologation
        if(!trancheIndiceCyber.deconseillee)
          .separateur
          p Durée d'homologation conseillée
          p#duree-recommandee= trancheIndiceCyber.dureeHomologationConseillee
