extends ../parcoursService
include ../fragments/texteTronque

block title
  title Sécuriser | MonServiceSécurisé

block append styles
  link(href = '/statique/assets/styles/homologation/mesures.css', rel = 'stylesheet')

block append scripts
  +composantSvelteAvecVersion('mesure.js')
  +composantSvelteAvecVersion('tableauDesMesures.js')
  +composantSvelteAvecVersion('completudeMesure.js')
  +composantSvelteAvecVersion('indiceCyber.js')
  script(type = 'module', src = '/statique/service/mesures.js')
  script(id = 'referentiel-categories-mesures', type = 'application/json').
    !{JSON.stringify(referentiel.categoriesMesures())}
  script(id = 'referentiel-statuts-mesures', type = 'application/json').
    !{JSON.stringify(referentiel.statutsMesures())}
  script(id = 'referentiel-priorites-mesures', type = 'application/json').
    !{JSON.stringify(referentiel.prioritesMesures())}
  script(id = 'referentiel-retours-utilisateur', type = 'application/json').
    !{JSON.stringify(referentiel.retoursUtilisateurMesure())}
  script(id = 'securiser-lecture-seule', type = 'application/json').
    !{JSON.stringify(autorisationsService.SECURISER.estLectureSeule)}
  script(id = 'indice-cyber', type = 'application/json').
    !{JSON.stringify({ indiceCyber: service.indiceCyber().total, noteMax: referentiel.indiceCyberNoteMax()})}
  script(id = 'completude-mesure', type = 'application/json').
    !{JSON.stringify(pourcentageProgression)}

block header-titre-page
  h3
    +texteTronque({texte: service.nomService() || ''})

block titre
  h1 Sécuriser

block sous-titre
  h2 Mettre en oeuvre des mesures de sécurité adaptées

block formulaire
  #tableau-des-mesures
    .conteneur-indicateurs
      #conteneur-completude-mesure
      a.conteneur-indice-cyber(href="indiceCyber")
        .cartouche-indice-cyber Indice cyber&nbsp;&nbsp;
        #conteneur-indice-cyber