extends ../parcoursService
include ../fragments/texteTronque

block title
  title Sécuriser | MonServiceSécurisé

block append styles
  link(href = '/statique/assets/styles/homologation/mesures.css', rel = 'stylesheet')
  link(href = '/statique/composants-svelte/style.css', rel = 'stylesheet')

block append scripts
  script(type = 'module', src = '/statique/composants-svelte/mesure.js')
  script(type = 'module', src = '/statique/composants-svelte/tableauDesMesures.js')
  script(type = 'module', src = '/statique/composants-svelte/completudeMesure.js')
  script(type = 'module', src = '/statique/composants-svelte/indiceCyber.js')
  script(type = 'module', src = '/statique/service/mesures.js')
  script(id = 'referentiel-categories-mesures', type = 'application/json').
    !{JSON.stringify(referentiel.categoriesMesures())}
  script(id = 'referentiel-statuts-mesures', type = 'application/json').
    !{JSON.stringify(referentiel.statutsMesures())}
  script(id = 'securiser-lecture-seule', type = 'application/json').
    !{JSON.stringify(autorisationsService.SECURISER.estLectureSeule)}
  script(id = 'indice-cyber', type = 'application/json').
    !{JSON.stringify({ indiceCyber: service.indiceCyber().total, noteMax: referentiel.indiceCyberNoteMax()})}
  script(id = 'completude-mesure', type = 'application/json').
    !{JSON.stringify(pourcentageProgression)}
  script(id = 'feature-flags', type = 'application/json').
    !{JSON.stringify(featureFlags)}

block header-titre-page
  h3
    +texteTronque({texte: service.nomService() || ''})

block titre
  h1 Sécuriser
  .conteneur-indicateurs
    #conteneur-completude-mesure
    a.conteneur-indice-cyber(href="indiceCyber")
      .cartouche-indice-cyber Indice cyber&nbsp;&nbsp;
      #conteneur-indice-cyber

block sous-titre
  h2 Mettre en oeuvre des mesures de sécurité adaptées

block formulaire
  #tableau-des-mesures
