extends ./formulaire
include ../fragments/carteInformations
include ../fragments/cartesInformations

block append styles
  link(href = '/statique/assets/styles/homologation/risques.css', rel = 'stylesheet')

block formulaire
  form.homologation#risques
    h1.action Risques de sécurité
    p.
      Cliquez sur le curseur pour évaluer l'impact potentiel des risques
      de sécurité les plus courants sur votre service. Apportez des précisions
      et ajoutez des risques complémentaires, si nécessaire.

    section
      each donnees, identifiant in referentiel.risques()
        .risque(id = identifiant)
          .puce-information
            .rideau
              .modale
                .fermeture-modale
                h1= donnees.description
                p!= donnees.descriptionLongue
          .synthese
            .titre= donnees.description
            .niveau-gravite
              input(
                type = 'hidden',
                id = `niveauGravite-${identifiant}`,
                name = `niveauGravite-${identifiant}`,
                value = '',
              )
              .curseur
                each niveau in referentiel.identifiantsNiveauxGravite()
                  .disque(data-niveau = niveau)
              .legende
          a.informations-additionnelles Commentaires (facultatif)

    section
      label Risques spécifiques au service numérique
      #risques-specifiques
      a.nouvel-item Ajouter un risque spécifique

    .bouton(idHomologation = service.id) Enregistrer &nbsp;&nbsp;›

  script(id = 'donnees-referentiel-niveaux-gravite-risque', type = 'application/json').
    !{JSON.stringify(referentiel.niveauxGravite())}
  script(id = 'donnees-risques-generaux', type = 'application/json').
    !{JSON.stringify(service.risques.toJSON().risquesGeneraux || [])}
  script(id = 'donnees-risques-specifiques', type = 'application/json').
    !{JSON.stringify(service.risques.toJSON().risquesSpecifiques || [])}
  script(type = 'module', src = '/statique/service/risques.js')

block cartes-informations
  mixin detailsRisques
    each niveau in referentiel.infosNiveauxGravite(ordreInverse = true)
      - const { description, descriptionLongue } = niveau
      h3= description
      p= descriptionLongue

  +carteInformations({
    titre: 'Niveaux de gravité',
    sousTitre: "Découvrez les 5 niveaux définis par l'ANSSI.",
    details: 'detailsRisques',
  })
    ul.niveaux-gravite
      each niveau in referentiel.infosNiveauxGravite(ordreInverse = true)
        - const { couleur, description } = niveau
        li
          .disque(class = `${ couleur === 'blanc' ? 'cercle blanc' : couleur }`)
          = description
