extends ../deuxColonnes
include ../cartes/indiceCyber
include ../cartes/recommandationsANSSI
include ../fragments/cartesInformations
include ../fragments/texteTronque

mixin action({ id, description, sousTitre, url, statut })
  a(href = url)
    .action(class = `${id}`)
      -
        const statutSaisie = (statut) => {
          switch (statut) {
            case InformationsHomologation.COMPLETES:
              return 'faite';
            case InformationsHomologation.A_COMPLETER:
              return 'en-cours';
            default:
              return '';
          }
        }
      .statut(class = statutSaisie(statut))
      div(class = `icone-action`)
      h2= description
      .sous-titre= sousTitre

mixin outilComplementaire({ id, nom, description, lien })
  .outil-complementaire(class = id)
    .titre-outil
      .icone-outil
      h3= nom
    .description #{description} #[a.avec-chevron(href = lien.url)= lien.texte]

block append styles
  link(href = '/statique/assets/styles/homologation/synthese.css', rel = 'stylesheet')

block retour
  nav.fil-ariane
    a.avec-chevron(href = '/tableauDeBord') Tableau de bord
    div: +texteTronque({ texte: service.nomService() })

block zone-principale
  .details-service
    h1.titre-service!= service.nomService()

    .actions
      each actionSaisie in actionsSaisie
        +action(actionSaisie)

    .cartes-outils-complementaires
      h2 Outils complémentaires
      .outils-complementaires
        +outilComplementaire({
          id: 'risques',
          nom: 'Risques',
          description: 'Cartographiez les impacts potentiels des risques de sécurité les plus courants.',
          lien: { url: `/service/${service.id}/risques`, texte: 'Remplir'}
        })
        +outilComplementaire({
          id: 'contactsUtiles',
          nom: 'Contacts utiles',
          description: 'Créez la liste des personne contribuant au fonctionnement du service à contacter en cas de besoin.',
          lien: { url: `/service/${service.id}/rolesResponsabilites`, texte: 'Compléter' }
        })

    .telechargement-pdfs
      a.bouton.nouvel-onglet(
        href = `/api/service/${service.id}/pdf/syntheseSecurite.pdf`,
        target = `blank`,
        rel = ``
      ) Télécharger la synthèse
      a.bouton.nouvel-onglet(
        href = `/api/service/${service.id}/pdf/annexes.pdf`,
        target = `blank`,
        rel = ``
      ) Télécharger les annexes

block cartes-informations
  -
    const dossiers = service.dossiers
    const statutSaisieDossiers = dossiers.statutSaisie()
    const dossierActif = dossiers.dossierActif()

  +carteInformations({titre: "Statut d'homologation" })
    if statutSaisieDossiers === InformationsHomologation.COMPLETES
      .statut.statut-homologue
        span.pastille
        span Service homologué
      .dates-statut.
        Date d'homologation : #{dossierActif.descriptionDateHomologation()}
      .dates-statut.
        Valable jusqu'au : #{dossierActif.descriptionProchaineDateHomologation()}
    else
      .statut.statut-non-homologue
        span.pastille
        span Service non homologué
      .dates-statut.
        Date d'homologation : non renseignée
      .dates-statut.
        Valable jusqu'au : non renseigné

  - const indiceCyber = service.indiceCyber()
  +indiceCyber({ referentiel, indiceCyber })

  +recommandationsANSSI({ referentiel, noteObtenue: indiceCyber.total })

  +carteInformations({ titre: 'Pour les services référencés avant le 12/10/2022' })
    .liens
      a.avec-chevron(href = `/service/${service.id}/avisExpertCyber`) Accéder à « Avis sur le dossier »
      a.avec-chevron(href = `/service/${service.id}/decision`) Télécharger les annexes 1ère version
