extends ../deuxColonnes
include ../cartes/indiceCyber
include ../cartes/recommandationsANSSI
include ../fragments/cartesInformations
include ../fragments/texteTronque

mixin action({ id, description, sousTitre, url, statut })
  a(href = url)
    .action(class = `${id}`)
      -
        const statutSaisie = (statut) => {
          switch (statut) {
            case InformationsHomologation.COMPLETES:
              return 'faite';
            case InformationsHomologation.A_COMPLETER:
              return 'en-cours';
            default:
              return '';
          }
        }
      .statut(class = statutSaisie(statut))
      div(class = `icone-action`)
      h2= description
      .sous-titre= sousTitre

mixin outilComplementaire({ id, nom, description, lien })
  .outil-complementaire(class = id)
    .titre-outil
      .icone-outil
      h3= nom
    .description #{description} #[a.avec-chevron(href = lien.url)= lien.texte]

block append styles
  link(href = '/statique/assets/styles/homologation/synthese.css', rel = 'stylesheet')

block retour
  nav.fil-ariane
    a.avec-chevron(href = '/tableauDeBord') Tableau de bord
    div: +texteTronque({ texte: service.nomService() })

block zone-principale
  .details-service
    h1.titre-service!= service.nomService()

    .actions
      each actionSaisie in actionsSaisie
        +action(actionSaisie)

    .cartes-outils-complementaires
      h2 Outils complémentaires
      .outils-complementaires
        +outilComplementaire({
          id: 'risques',
          nom: 'Risques',
          description: 'Cartographiez les impacts potentiels des risques de sécurité les plus courants.',
          lien: { url: `/service/${service.id}/risques`, texte: 'Remplir'}
        })
        +outilComplementaire({
          id: 'contactsUtiles',
          nom: 'Contacts utiles',
          description: 'Créez la liste des personne contribuant au fonctionnement du service à contacter en cas de besoin.',
          lien: { url: `/service/${service.id}/rolesResponsabilites`, texte: 'Compléter' }
        })

    .telechargement-pdfs
      a.bouton.nouvel-onglet(
        href = `/api/service/${service.id}/pdf/syntheseSecurite.pdf`,
        target = `blank`,
        rel = ``
      ) Télécharger la synthèse
      a.bouton.nouvel-onglet(
        href = `/api/service/${service.id}/pdf/annexes.pdf`,
        target = `blank`,
        rel = ``
      ) Télécharger les annexes

block cartes-informations
  - const donneesStatut = donneesStatutHomologation

  +carteInformations({titre: "Homologation de sécurité" })
    .statut.statut-homologation(class=donneesStatut.statut)
      span= donneesStatut.libelle

    .informations-complementaires-statut
      - const liens = donneesStatut.metadonnees.liens
      - const validite = donneesStatut.metadonnees.validite
      if validite
        if validite.debut
          .dates-statut.
            Active le #{validite.debut}
        if validite.duree
          .dates-statut.
            Durée : #{validite.duree}
        if validite.fin
          .dates-statut.
            #{donneesStatut.statut === 'expiree' ? 'Expirée depuis le ' : "Valable jusqu'au "} #{validite.fin}
      if liens
        for lien in liens
          a.avec-chevron(href=lien.url)!= lien.libelle


  - const indiceCyber = service.indiceCyber()
  +indiceCyber({ referentiel, indiceCyber })

  +recommandationsANSSI({ referentiel, noteObtenue: indiceCyber.total })

  +carteInformations({ titre: 'Pour les services référencés avant le 12/10/2022' })
    .liens
      a.avec-chevron(href = `/service/${service.id}/avisExpertCyber`) Accéder à « Avis sur le dossier »
      a.avec-chevron(href = `/service/${service.id}/decision`) Télécharger les annexes 1ère version
