extends mssDeconnecte
include ./fragments/navigationSiteVitrine

block variables
  - const meta_description = description

mixin tableDesMatieres(donnees)
  .table-des-matieres
    if avecTitreTableDesMatieres
      p Dans cet article
    .contenu-tdm(class=`${avecTitreTableDesMatieres ? '' : 'decalage-sans-titre'}`)
      each entree in donnees
        a(href=`#${entree.id}` class=`niveau-${entree.profondeur}`)!= entree.texte


block title
  title!= `${titre} | MonServiceSécurisé`

block append styles
  link(href = '/statique/assets/styles/article.css', rel = 'stylesheet')

block append scripts
  script(type = 'module', src='/statique/scripts/article.js')

block navigation-site-vitrine
  if optionsNavigation && optionsNavigation.visible
    +navigationSiteVitrine(optionsNavigation.ongletActif)

block main
  .fil-ariane
    if avecFilAriane
      a(href='/conseils-cyber') Conseils Cyber
      span >
      a(href=`/conseils-cyber?section=${section.id}`)!= section.nom
      span >
      span!= titre
  .contenu-main
    +tableDesMatieres(tableDesMatieres)
    .marges-fixes
      .article
        if avecFilAriane
          -
            const idMiseEnOeuvre = '09d78fb4-fe9a-4f60-9dd7-91232e98d419';
            const idHomologation = '0cef9600-977a-4817-9735-8717942a4920';
            const idUtilisation = '8d97721b-ef75-4edf-acf2-c615793d69f0';
            const donneesSections = {[idMiseEnOeuvre]: 'mise-en-oeuvre',[idHomologation]: 'homologation',[idUtilisation]: 'utilisation'};
            const classeSection = donneesSections[section.id]
          p.etiquette-section(class=classeSection)!= section.nom
        h1!= titre
        .contenu!= contenu