extends mssDeconnecte
include ./fragments/navigationSiteVitrine

block variables
  - const meta_description = description

mixin tableDesMatieres(donnees)
  .table-des-matieres
    if avecTitreTableDesMatieres
      p Dans cet article
    .contenu-tdm(class=`${avecTitreTableDesMatieres ? '' : 'decalage-sans-titre'}`)
      each entree in donnees
        a(href=`#${entree.id}` class=`niveau-${entree.profondeur}`)!= entree.texte


block title
  title!= `${titre} | MonServiceSécurisé`

block append styles
  link(href = '/statique/assets/styles/article.css', rel = 'stylesheet')

block append scripts
  script(type = 'module', src='/statique/scripts/article.js')

block navigation-site-vitrine
  if optionsNavigation && optionsNavigation.visible
    +navigationSiteVitrine(optionsNavigation.ongletActif)

block main
  +tableDesMatieres(tableDesMatieres)
  .marges-fixes
    .article
      h1!= titre
      .contenu!= contenu