extends mssDeconnecte
block variables
  - const meta_description = 'Pilotez la sécurité de vos services numériques en équipe et homologuez les rapidement avec MonServiceSécurisé. Découvrez maintenant !'

mixin contenuAvantage(titre, description)
  .contenu-avantage
    h4!= titre
    p!= description

mixin etape(numero, titre, description, afficheChemin = true)
  .etape
    img.taille-maximale.tres-petite-marge-basse(src=`/statique/assets/images/home/illustration_etape_${numero}.svg` alt='')
    .numero-etape.tres-petite-marge-basse(class=`numero-${numero}`)
      span!= numero
    .contenu-texte-etape
      h4.alignement-gauche!= titre
      p.alignement-gauche!= description
    if afficheChemin
      img.visible-uniquement-desktop.chemin(src='/statique/assets/images/home/chemin_etape_gauche.svg' alt='')

mixin chiffreCle(chiffre, description)
  .chiffre-cle
    h4.alignement-gauche.centre-tablette.couleur-principale-foncee!= chiffre
    p.alignement-gauche.centre-tablette!=description

mixin carteCarrousel(numero, description)
  .carte-carrousel(id=`slide-${numero}`)
    img.petite-marge-basse(src=`/statique/assets/images/home/illustration_carrousel_${numero}.svg` alt='')
    h4!= description

mixin carrousel(id, texteBoutonSuivant)
  div(id=id)
    .conteneur-carrousel
      block
    .conteneur-liens-carrousel
      button.precedent
        img(src='/statique/assets/images/home/icone_fleche_gauche.svg' alt='')
      button.suivant
        span!= texteBoutonSuivant
        img(src='/statique/assets/images/home/icone_fleche_gauche.svg' alt='')

block append styles
  link(href='/statique/assets/styles/entete.responsive.css', rel='stylesheet')
  link(href='/statique/assets/styles/piedPage.responsive.css', rel='stylesheet')
  link(href='/statique/assets/styles/home.css', rel='stylesheet')
  link(href='/statique/assets/styles/home.tablette.css', rel='stylesheet')
  link(href='/statique/assets/styles/home.desktop.css', rel='stylesheet')

block append scripts
  script(type = 'module', src = '/statique/home.js')

block main
  #home
    .bloc-contenu.fond-couleur-principale
      .conteneur-titre
        .conteneur-centre
          img.taille-maximale.taille-borne(src='/statique/assets/images/home/illustration_1.svg' alt='')
        .contenu-titre
          h1.alignement-gauche-desktop MonServiceSécurisé
          h2.alignement-gauche L'outil pour piloter en équipe la sécurité de tous vos services numériques et les homologuer rapidement
          .conteneur-liens
            a#commencer-a-securiser(href='/inscription') Commencer à sécuriser
            a.secondaire.grande-marge-basse#etre-accompagne(href='https://calendly.com/monservicesecurise-henri/presentation-de-monservicesecurise-anssi-clone' target='_blank' rel='noopener') Être accompagné
          p.alignement-gauche.moyenne-marge-basse Une innovation ANSSI conçue pour durer en collaboration avec :
          .conteneur-logo-partenaire.petite-marge-basse
            img(src='/statique/assets/images/home/cnil.svg' alt='Logo de la CNIL')
    +carrousel('carrousel-presentation', 'Suivant')
      +carteCarrousel(1, "Gratuit, 100% en ligne et collaboratif")
      +carteCarrousel(2, "Accessible à toutes les entités publiques")
      +carteCarrousel(3, "Conçu par les spécialistes de l'ANSSI")
    .bloc-contenu.fond-couleur-principale-attenuee
      h3.alignement-gauche.moyenne-marge-basse Les avantages de MonServiceSécurisé
      .conteneur-avantage
        img.grande-marge-basse.taille-maximale.plus-grand#illustration-laptop(src='/statique/assets/images/home/illustration_2.webp' alt='')
        .conteneur-avantages.grande-marge-basse
          +contenuAvantage('Laissez-vous guider !', "Utilisez MonServiceSécurisé, même si la cybersécurité n'a QUE des secrets pour vous.")
          +contenuAvantage('Renforcez la sécurité de tous vos services', 'Placez votre effort au bon niveau et obtenez des résultats concrets.')
          +contenuAvantage('Mettez-vous en conformité', "L'homologation de sécurité devient un jeu d'enfant avec MonServiceSécurisé.")
      .conteneur-centre
        a.principal.petite-marge-basse#commencer-a-securiser-avantages(href='/inscription') Commencer à sécuriser
    .bloc-contenu.bloc-etroit.fond-couleur-principale
      .conteneur-flex-photos-equipe
        .conteneur-photos-equipe.petite-marge-basse
          img(src='/statique/assets/images/home/antoine.webp' alt="Photo d'Antoine Dupuy" width=160)
          img.decalage-gauche(src='/statique/assets/images/home/henri.webp' alt="Photo d'Henri Casalis" width=160)
        hr.petite-marge-basse.invisible-desktop
        .contenu-texte-photos-equipe
          h3.alignement-gauche.petite-marge-basse.moyenne-police-tablette Notre équipe est à votre écoute
          p.moyenne-police.alignement-gauche
            span Antoine et Henri vous guideront dans la découverte et la prise en main de MonServiceSécurisé au sein de votre organisation.&nbsp;
            span
              b Notre priorité : vous accompagner.
          .conteneur-centre.conteneur-gauche-desktop
            a.petite-marge-basse.moyenne-marge-haute-tablette#beneficier-accompagnement(href='https://calendly.com/monservicesecurise-henri/presentation-de-monservicesecurise-anssi-clone' target='_blank' rel='noopener') Bénéficier d'un accompagnement
    .bloc-contenu
      h3.alignement-gauche.moyenne-marge-basse.couleur-principale-foncee Comment fonctionne MonServiceSécurisé ?
      .etapes.grande-marge-basse
        +etape(1, 'Décrivez votre service', "Présentez en 3 min les caractéristiques de votre service afin de permettre à l'ANSSI de créer votre liste personnalisée de mesures de sécurité et de mesures proposées par la CNIL.")
        +etape(2, 'Sécurisez, grâce à des mesures adaptées', "Mettez en œuvre les mesures proposées et obtenez une évaluation indicative du niveau de sécurisation du service : l'indice cyber.")
        +etape(3, 'Homologuez en toute simplicité', "Téléchargez en 1 clic, le dossier et le projet de décision d’homologation pour le faire signer.", false)
      .conteneur-centre
        a.principal.gra#commencer-a-securiser-etapes(href='/inscription') Commencer à sécuriser
    .bloc-contenu.bloc-etroit.fond-couleur-principale.sans-padding-bas#conteneur-sport-collectif
      .conteneur-collaboration
        .contenu-texte-collaboration
          .contenu-centre-vertical
            h3.alignement-gauche.moyenne-marge-basse La cybersécurité est un sport collectif !
            p.alignement-gauche.moyenne-police.grande-marge-basse Sécurisez à 2, à 10 ou à 100. Pensé par et pour les DSI, RSSI, DPD, et chef/fes de projets. Invitez les personnes de votre choix y compris vos prestataires. Et gérez en finesse leurs droits d’accès.
        .conteneur-etroit
          img.taille-maximale.decalage-bas#illustration-collaboratif(src='/statique/assets/images/home/illustration_3.webp' alt="Menu de gestion des contributeurs" width=384)
    .bloc-contenu
      h3.alignement-gauche.centre-tablette.alignement-gauche-desktop.couleur-principale-foncee.moyenne-marge-basse Ça fonctionne !
      .chiffres-cle.petite-marge-basse
        +chiffreCle('+55%', "L'augmentation moyenne de l'indice cyber d'un service en seulement 1 mois.")
        +chiffreCle('5 min', "Le temps nécessaire pour démarrer un projet d'homologation et obtenir une 1ère version de son dossier.")
        +chiffreCle('+3&nbsp;500', "Plus de 3&nbsp;500 personnes utilisent déjà MonServiceSécurisé.")
    .bloc-contenu.fond-couleur-principale-attenuee
      h3.alignement-gauche.couleur-principale-foncee.moyenne-marge-basse Ces entités qui nous font confiance
      .conteneur-entites.grande-marge-basse
        img(src='/statique/assets/images/home/anct.svg' alt='ANCT Incubateur des territoires')
        img(src='/statique/assets/images/home/declic.webp' alt='Logo de Déclic' width=200)
        img(src='/statique/assets/images/home/essonne.webp' alt='Essonne' width=200)
        img(src='/statique/assets/images/home/inclusion_connect.webp' alt='Inclusion Connect' width=250)
        img(src='/statique/assets/images/home/metropole_aix_marseille_provence.svg' alt='La métropole Aix-Marseille-Provence')
        img(src='/statique/assets/images/home/haute_garonne.webp' alt='Conseil départemental de Haute-Garonne' width=250)
      +carrousel('carrousel-temoignages', 'Témoignages suivants')
        include home/temoignages
    .bloc-contenu.bloc-etroit#presentation-anssi
      h3.titre-etroit.couleur-principale-foncee.moyenne-marge-basse Qu’est-ce que l’ANSSI ?
      img.moyenne-marge-basse(src='/statique/assets/images/home/anssi.webp' alt="Logo de l'ANSSI" width=180)
      p.moyenne-police.moyenne-marge-basse
        span Créée en 2009, l’Agence nationale de la sécurité des systèmes d’information (ANSSI) est l’autorité nationale en matière de cybersécurité et de cyberdéfense.
        br
        span
          b Son action pour la protection de la Nation face aux cyberattaques se traduit en quatre grandes missions : défendre, connaître, partager, accompagner.
      .conteneur-centre
        a.principal.icone-lien-externe#en-savoir-plus(href='https://cyber.gouv.fr/' target='_blank' rel='noopener') En savoir plus