extends mssDeconnecte
include ./fragments/fonctionnalitesSegmentees

block variables
  - const meta_description = 'Pilotez la sécurité de vos services numériques en équipe et homologuez les rapidement avec MonServiceSécurisé. Découvrez maintenant !'
  - const ongletActif = 'accueil'

mixin contenuAvantage(titre, description)
  .contenu-avantage
    h4= titre
    p= description

mixin etape(numero, titre, description, afficheChemin = true)
  .etape
    img.taille-maximale.tres-petite-marge-basse(loading="lazy" src=`/statique/assets/images/home/illustration_etape_${numero}.svg` alt='')
    .numero-etape.tres-petite-marge-basse(class=`numero-${numero}`)
      span= numero
    .contenu-texte-etape
      h4.alignement-gauche= titre
      p.alignement-gauche= description
    if afficheChemin
      img.visible-uniquement-desktop.chemin(src='/statique/assets/images/home/chemin_etape_gauche.svg' alt='')

mixin chiffreCle(chiffre, description)
  .chiffre-cle
    h4.centre-tablette= chiffre
    p.centre-tablette= description

mixin carteCarrousel(numero, titre, sousTitre)
  dsfr-tile(title=titre has-description description=sousTitre action-markup="false" no-link size='sm')

mixin carrousel(id)
  div(id=id)
    .conteneur-carrousel
      block
    .conteneur-liens-carrousel
      dsfr-button(label='Précédent' has-icon icon='arrow-left-s-line' kind='tertiary-no-outline' disabled).precedent
      dsfr-button(label='Suivant' has-icon icon='arrow-right-s-line' icon-place='right' kind='tertiary-no-outline').suivant

block append styles
  link(href='/statique/assets/styles/home.css', rel='stylesheet')
  link(href='/statique/assets/styles/home.tablette.css', rel='stylesheet')
  link(href='/statique/assets/styles/home.desktop.css', rel='stylesheet')

block append scripts
  script(type = 'module', src = '/statique/home.js')

block main
  #home
    .bloc-contenu.fond-couleur-principale.hero
      .conteneur-titre
        .conteneur-centre
          img(src='/statique/assets/images/home/tableau-de-bord.png' alt='')
        .contenu-titre
          lab-anssi-tag(label='Service à impact national' size='sm' couleur-texte='#297254' couleur-fond='#9ef9be')
          h1.alignement-gauche-desktop MonService&#8203;Sécurisé
          h2.alignement-gauche L'outil pour piloter en équipe la sécurité de tous vos services numériques et les homologuer rapidement
          .conteneur-liens
            dsfr-button(label='Commencer à sécuriser' kind="inverted-primary" has-icon icon='arrow-right-line' icon-place="right" centered markup="a" type="button" href="/inscription")
            dsfr-button(label='Demander une demonstration' kind="inverted-secondary"  centered markup="a" type="button" href='https://calendly.com/fabien-giraud/presentation-de-monservicesecurise-1')

    +carrousel('carrousel-presentation')
      +carteCarrousel(1, "Gratuit, 100% en ligne", "et collaboratif")
      +carteCarrousel(2, "Pour les agents public", "et leurs prestataires")
      +carteCarrousel(3, "Un outil conçu par l'ANSSI", "en collaboration avec la CNIL")

    .bloc-contenu.fond-couleur-principale-attenuee#trois-etapes
      h3.alignement-gauche.moyenne-marge-basse Sécurisez vos systèmes d'information en 3 étapes
      p Du premier ajout d'un système d’information à la signature de la décision d'homologation, MonServiceSécurisé vous guide à chaque étape.
      #cartes
        dsfr-card(
          title="Évaluez les besoins de sécurité de votre service numérique"
          src='/statique/assets/images/home/carte-1.png'
          alt=""
          has-tag
          no-link
          no-icon)
          dsfr-tag(slot="tagsgroup" label="01")
        dsfr-card(
          title="Sécurisez, grâce à des mesures adaptées"
          src='/statique/assets/images/home/carte-2.png'
          alt=""
          has-tag
          no-link
          no-icon)
          dsfr-tag(slot="tagsgroup" label="02")
        dsfr-card(
          title="Homologuez en toute simplicité"
          src='/statique/assets/images/home/carte-3.png'
          alt=""
          has-tag
          no-link
          no-icon)
          dsfr-tag(slot="tagsgroup" label="03")

      dsfr-button(label='Commencer à sécuriser'  has-icon icon='arrow-right-line' icon-place="right" markup="a" type="button" href="/inscription" centered)

    .bloc-contenu.alignement-gauche
      h3.alignement-gauche.tres-grande-marge-basse Les fonctionnalités clés
      +fonctionnalitesSegmentees(
        ['Pour toutes le équipes', 'Pour les FSSI & les RSSI'],
        [
          [
            { titre: 'Plan d’action cyber collaboratif', description: 'Collaborez avec vos équipes, assignez les mesures de sécurité et suivez leur avancement.', img: '/statique/assets/images/home/fonctionnalites/plan_collaboratif.png' },
            { titre: 'Indice cyber', description: 'Obtenez une évaluation indicative du niveau de sécurisation du service et sa  durée d’homologation recommandée', img: '/statique/assets/images/home/fonctionnalites/indice_cyber.png' },
            { titre: 'Tableau de bord', description: 'Visualisez vos services, priorités et échéances en un coup d’œil.', img: '/statique/assets/images/home/fonctionnalites/tableau_de_bord.png' },
            { titre: 'Matrice de risques', description: 'Identifiez et suivez vos risques en temps réel, au fil de la complétion de votre plan d’action cyber.', img: '/statique/assets/images/home/fonctionnalites/risques.png' },
          ],
          [
            { titre: 'Supervision', description: 'Vision globale de vos systèmes d’information avec des indicateurs clés pour piloter la sécurisation de votre entité.', img: '/statique/assets/images/home/fonctionnalites/supervision.png' },
            { titre: 'Téléversement des systèmes d’information', description: 'Importez tous vos systèmes d’information en une seule fois pour les centraliser.', img: '/statique/assets/images/home/fonctionnalites/televersement.png' },
            { titre: 'Import des mesures', description: 'Intégrez des mesures de sécurité spécifiques et réutilisez-les sur vos système d’information.', img: '/statique/assets/images/home/fonctionnalites/import_des_mesures.png' },
            { titre: 'Gestion des droits', description: 'Gérez finement les accès de chaque utilisateur invité (équipes métier, prestataires, etc.)', img: '/statique/assets/images/home/fonctionnalites/gestions_des_droits.png' },
          ],
        ]
      )

    .bloc-contenu.fond-couleur-principale-attenuee
      h3.alignement-gauche.moyenne-marge-basse Ce que disent nos utilisateurs
      +carrousel('carrousel-temoignages', 'Témoignages suivants')
        include home/temoignages

    .bloc-contenu
      h3.alignement-gauche.moyenne-marge-basse Ces entités qui nous font confiance
      .conteneur-entites.grande-marge-basse
        img(loading="lazy" src='/statique/assets/images/home/logos/ADICO.webp' alt="ADICO - ASSOCIATION POUR LE DEVELOPPEMENT ET L'INNOVATION NUMERIQUE DES COLLECTIVITES")
        img(loading="lazy" src='/statique/assets/images/home/logos/ANCT.webp' alt="ANCT - AGENCE NATIONALE DE LA COHESION DES TERRITOIRES")
        img(loading="lazy" src='/statique/assets/images/home/logos/CISIRH.webp' alt="CENTRE INTERMINISTERIEL DE SERVICES INFORMATIQUES RELATIFS AUX RESSOURCES HUMAINES (CISIRH)")
        img(loading="lazy" src='/statique/assets/images/home/logos/CLERMONT AUVERGNE METROPOLE.webp' alt="CLERMONT AUVERGNE METROPOLE")
        img(loading="lazy" src='/statique/assets/images/home/logos/COMMUNAUTE D AGGLOMERATION CHARTRES METROPOLE.webp' alt="COMMUNAUTE D AGGLOMERATION CHARTRES METROPOLE")
        img(loading="lazy" src='/statique/assets/images/home/logos/COMMUNE DE BOIVRE-LA-VALLEE.webp' alt="COMMUNE DE BOIVRE-LA-VALLEE")
        img(loading="lazy" src='/statique/assets/images/home/logos/COUR DES COMPTES.webp' alt="COUR DES COMPTES")
        img(loading="lazy" src='/statique/assets/images/home/logos/DEPARTEMENT DE L EURE.webp' alt="DEPARTEMENT DE L EURE")
        img(loading="lazy" src='/statique/assets/images/home/logos/DEPARTEMENT DE L ESSONNE.webp' alt="DEPARTEMENT DE L' ESSONNE")
        img(loading="lazy" src='/statique/assets/images/home/logos/DEPARTEMENT DE LA HAUTE GARONNE.webp' alt="DEPARTEMENT DE LA HAUTE GARONNE")
        img(loading="lazy" src='/statique/assets/images/home/logos/DEPARTEMENT DU VAR.webp' alt="DEPARTEMENT DU VAR")
        img(loading="lazy" src='/statique/assets/images/home/logos/DECLIC.webp' alt="DEVELOPPEMENT D'ECHANGES ENTRE COLLECTIVITES LOCALES EN MATIERE D'INFORMATIONS ET DE COMMUNICATIONS (DECLIC)")
        img(loading="lazy" src='/statique/assets/images/home/logos/GCS SARA.webp' alt="GCS SARA GROUPEMENT DE COOPERATION SANITAIRE SYSTEME D'INFORMATION DE SANTE AUVERGNE RHONE ALPES")
        img(loading="lazy" src='/statique/assets/images/home/logos/INSTITUT MINES-TELECOM (IMT).webp' alt="INSTITUT MINES-TELECOM (IMT)")
        img(loading="lazy" src='/statique/assets/images/home/logos/METROPOLE D AIX-MARSEILLE-PROVENCE (AMP).webp' alt="METROPOLE D'AIX-MARSEILLE-PROVENCE (AMP)")
        img(loading="lazy" src='/statique/assets/images/home/logos/METROPOLE DU GRAND NANCY.webp' alt="METROPOLE DU GRAND NANCY")
        img(loading="lazy" src='/statique/assets/images/home/logos/METZ METROPOLE.webp' alt="METZ METROPOLE")
        img(loading="lazy" src='/statique/assets/images/home/logos/PLATEFORME DE L INCLUSION.webp' alt="PLATEFORME DE L'INCLUSION")
        img(loading="lazy" src='/statique/assets/images/home/logos/SM D ENERGIES EQUIPEMENTS ET COMMUNICATION DU JURA (SIDEC).webp' alt="SM D'ENERGIES EQUIPEMENTS ET COMMUNICATION DU JURA (SIDEC)")
        img(loading="lazy" src='/statique/assets/images/home/logos/SYNDICAT MIXTE LA FIBRE64.webp' alt="SYNDICAT MIXTE LA FIBRE64")

    .bloc-contenu.bloc-etroit.fond-couleur-principale.bloc-impact-national
      .conteneur-droite-gauche
        .conteneur-gauche.alignement-gauche
          h3 MonServiceSécurisé,<br> service à impact national
          .conteneur-impact-national
            p.alignement-gauche La direction interministérielle du numérique a attribué le statut de service à impact national à MonServiceSécurisé. Cela atteste que le service est de grande qualité, résout réellement un problème d’interêt général et a un fort impact sur ses utilisateurs.
            dsfr-button(label="En savoir plus" kind="inverted-primary" markup="a" href='https://aide.monservicesecurise.cyber.gouv.fr/fr/article/service-a-impact-national-quest-ce-que-ca-signifie-67i3tq/' target="blank")
        .conteneur-droite
          .conteneur-image
            img.grande-marge-basse.taille-maximale(src='/statique/assets/images/home/illustration_service_impact_national.svg' alt='Illustration de MonServiceSécurisé, service à impact national')

    .bloc-contenu.bloc-etroit#notre-equipe
      .conteneur-flex-photos-equipe
        .conteneur-photos-equipe
          img(src='/statique/assets/images/home/illustration_equipe_antoine_fabien.png' alt="Photo d'Antoine Dupuy et Fabien Giraud")
        .contenu-texte-photos-equipe.alignement-gauche
          h3 Notre équipe est à votre écoute
          p
            span Antoine et Fabien vous guideront dans la découverte et la prise en main de MonServiceSécurisé au sein de votre organisation.&nbsp;
            span
              b Notre priorité : vous accompagner.
          dsfr-button(label='Assister à une démonstration' size="md" has-icon icon='arrow-right-line' icon-place="right" markup="a" href="https://calendly.com/fabien-giraud/presentation-de-monservicesecurise-")

    .bloc-contenu.fond-couleur-principale-attenuee.resultats#resultats
      h3.alignement-gauche.centre-tablette Des résultats concrets, rapidement
      .chiffres-cle
        +chiffreCle('+55%', "d'augmentation moyenne de l'indice cyber en seulement 1 mois")
        +chiffreCle('5 min', "pour démarrer une homologation et générer un premier dossier")
        +chiffreCle('+8 000', "utilisateurs font déjà confiance à MonServiceSécurisé")
      dsfr-button(label='Commencer à sécuriser' size="md" has-icon icon='arrow-right-line' icon-place="right" markup="a" href="/inscription" centered)

    .bloc-contenu
      lab-anssi-presentation-anssi
