extends mssConnecte

mixin action({ description, url, statut })
  - let classeStyleStatut
  -
    switch(statut) {
      case InformationsHomologation.A_SAISIR: classeStyleStatut = 'a-faire'; break;
      case InformationsHomologation.A_COMPLETER: classeStyleStatut = 'a-completer'; break;
      case InformationsHomologation.COMPLETES: classeStyleStatut = 'faite'; break;
      default: '';
    }

  a.action(class = classeStyleStatut, href = url)= description


block append styles
  link(href = '/statique/assets/styles/homologation.css', rel = 'stylesheet')

block main
  .retour.marges-fixes
    a(href = '/espacePersonnel') ‹&nbsp;&nbsp;Mon espace personnel

  .details-homologation.marges-fixes
    .tableau-bord
      .description-dossier
        .icone-dossier
        .titre-homologation
          h1 Dossier d'homologation
          h2!= homologation.nomService()
      a.bouton(href = `/homologation/${homologation.id}/decision`) Voir le document d'homologation

      - const indiceSecurite = homologation.indiceSecurite()
      if process.env.AVEC_INDICE_SECURITE && indiceSecurite > 0
        - const indiceSecuriteFormate = Intl.NumberFormat('fr').format(indiceSecurite);
        h3= `Indice de sécurité : ${indiceSecuriteFormate} / ${referentiel.indiceSecuriteMax()}`

    section.actions
      ul
        each actionSaisie in actionsSaisie
          li
            +action(actionSaisie)
