extends homologation/formulaire
include carteInformations

mixin action({ description, url, statut })
  - let classeStyleStatut
  -
    switch(statut) {
      case InformationsHomologation.A_SAISIR: classeStyleStatut = 'a-faire'; break;
      case InformationsHomologation.A_COMPLETER: classeStyleStatut = 'a-completer'; break;
      case InformationsHomologation.COMPLETES: classeStyleStatut = 'faite'; break;
      default: '';
    }

  a.action(class = classeStyleStatut, href = url)= description


block append styles
  link(href = '/statique/assets/styles/homologation.css', rel = 'stylesheet')

block retour
  a(href = '/espacePersonnel') ‹&nbsp;&nbsp;Mon espace personnel

block formulaire
  .details-homologation
    .tableau-bord
      .description-dossier
        .icone-dossier
        .titre-homologation
          h1 Dossier d'homologation
          h2!= homologation.nomService()
      a.bouton(href = `/homologation/${homologation.id}/decision`) Voir le document d'homologation

    section.actions
      ul
        each actionSaisie in actionsSaisie
          li
            +action(actionSaisie)

block cartes-informations
  - const indiceSecurite = homologation.indiceSecurite()
  - const indiceSecuriteMax = referentiel.indiceSecuriteMax()
  - const formatte = Intl.NumberFormat('fr').format

  mixin detailsIndiceSecurite
    h3 Par catégorie de mesure
    dl
      each id in referentiel.identifiantsCategoriesMesures()
        dt= referentiel.descriptionCategorie(id)
        dd= (typeof indiceSecurite[id] === 'number' ? `${formatte(indiceSecurite[id])} / ${indiceSecuriteMax}` : '–')

    h3 À quoi sert l'indice de sécurité ?
    p.
      L'indice de sécurité fournit une indication du niveau de sécurité du
      service basée sur une évaluation de la conformité de ce dernier à un
      socle de mesures de sécurité personnalisé.
    p.
      Cette note ne constitue pas une preuve effective de la sécurité du
      service. MonServiceSécurisé et l'ANSSI ne peuvent en aucun cas être tenus
      responsables d'incidents de sécurité susceptibles d'affecter le service
      numérique, quelle que soit la note attribuée à ce dernier.

    p: a(href = '/questionsFrequentes#indice-securite', target = '_blank', rel = 'noopener').nouvel-onglet En savoir plus


  - const { total } = indiceSecurite
  if process.env.AVEC_INDICE_SECURITE && total > 0
    +carteInformations({ titre: 'Indice de sécurité', sousTitre: "Évalué par l'ANSSI", details: 'detailsIndiceSecurite' })
      .score-mss
        span.score= formatte(total)
        span.score-max= ` / ${indiceSecuriteMax}`
