extends mss
include ./fragments/besoinAide


block append styles
  link(href = '/statique/assets/styles/homologation.css', rel = 'stylesheet')

block main
  .details-homologation
    .tableau-bord
      h1= homologation.nomService
      a.bouton(href = `/homologation/${homologation.id}/decision`) Télécharger le document d'homologation

      section
        dl.actions
          dt Décrivez le service numérique
          dd
            ul
              li.action.faite
                a(href = `/homologation/${homologation.id}/edition`) Informations générales
              li.action
                a(href = `/homologation/${homologation.id}/caracteristiquesComplementaires`).
                  Caractéristiques complémentaires
              li.action
                a(href = `/homologation/${homologation.id}/partiesPrenantes`).
                  Parties prenantes

      section
        dl.actions
          dt Sécurisez le service numérique
          dd
            ul
              li.action
                a(href = `/homologation/${homologation.id}/risques`) Vérification des risques
              li.action
                a(href = `/homologation/${homologation.id}/mesures`) Mesures de sécurité

    +besoinAide
