extends ./base
include fragments/composantSvelte
include fragments/donneesPartagees
include fragments/footer

block variables

block page
  - const UI_KIT_VERSION = '1.49.0';
  block scripts
    script(src='/statique/bibliotheques/axios-1.0.0.min.js')
    script(src='/statique/bibliotheques/jquery-3.7.1.min.js')
    include csrf.pug
    script(src=`https://lab-anssi-ui-kit-prod-s3-assets.cellar-c2.services.clever-cloud.com/${UI_KIT_VERSION}/lab-anssi-ui-kit.iife.js` nonce=nonce defer)
    +composantSvelte('centreNotifications.js')
    script(type = 'module', src = '/statique/header.js')

  block styles
    link(href='/statique/assets/styles/palette.css', rel='stylesheet')
    link(href='/statique/assets/styles/fonts.css', rel='stylesheet')
    link(href='/statique/assets/styles/bouton.css', rel='stylesheet')
    link(href='/statique/assets/styles/lien.css', rel='stylesheet')
    link(href='/statique/assets/styles/mss.css', rel='stylesheet')
    link(href=`https://lab-anssi-ui-kit-prod-s3-assets.cellar-c2.services.clever-cloud.com/${UI_KIT_VERSION}/dsfr-variables.css`, rel='stylesheet', nonce=nonce)
    link(href=`https://lab-anssi-ui-kit-prod-s3-assets.cellar-c2.services.clever-cloud.com/${UI_KIT_VERSION}/lab-anssi-theme.mss.css`, rel="stylesheet", nonce=nonce)
    +feuilleDeStyleSvelte()

  title MonServiceSécurisé

  block header

  block header-complementaire

  block session

  block visite-guidee

  block navigation-site-vitrine

  block tiroir

  block centre-aide
    lab-anssi-centre-aide(nomService="MonServiceSécurisé" liens=JSON.stringify([
      { texte: '💬 Nous contacter par chat', href: 'https://aide.monservicesecurise.cyber.gouv.fr/' },
      { texte: "👩‍💻 Participer à un webinaire", href: 'https://calendly.com/fabien-giraud/presentation-de-monservicesecurise-1' },
      { texte: '🙌 Consulter la F.A.Q.', href: 'https://aide.monservicesecurise.cyber.gouv.fr/' },
    ]))

  block bandeau-titre

  main
    block main

  block footer
    +footer
