extends mssDeconnecte
include ./fragments/entites
include ./fragments/fonctionnalitesSegmentees

block title
  title Sécurisez votre service numérique | MonServiceSécurisé

block variables
  - const meta_description = "Sécurisez votre service numérique avec MonServiceSécurisé, un outil qui guide les équipes métiers des entités publiques pour évaluer les besoins de sécurité."

block append styles
  link(href="/statique/assets/styles/landing.css", rel="stylesheet")

block main
  .landing(data-themeable="true")
    .bloc-contenu.bloc-hero
      dsfr-container
        .conteneur-colonnes
          .principale
            h1.titre Sécurisez votre service numérique simplement
            p.description Un outil qui guide les équipes métiers/projets des entités publiques pour évaluer les besoins de sécurité, sécuriser et obtenir l’homologation de sécurité, étape par étape.
            .actions
              dsfr-button(
                label="Découvrir comment ça fonctionne"
                markup="a"
                href="/inscription"
                centered
              )
              dsfr-button(
                label="S’inscrire à une formation"
                kind="secondary"
                markup="a"
                href="https://calendly.com/fabien-giraud/presentation-de-monservicesecurise-1"
                centered
              )
          figure.secondaire
            img.illustration(
              src="/statique/assets/images/landing/illustration_piloter.png"
              alt="Illustration expert cyber"
            )

    .bloc-contenu.bloc-enjeux
      dsfr-container
        .conteneur
          h2.titre Vous vous reconnaissez dans ces enjeux ?
          .enjeux
            .enjeu
              h3.sous-titre Homologuez
              p.description Tous vos systèmes d’information simplement et efficacement
            .enjeu
              h3.sous-titre Déléguez
              p.description aux équipes métiers dans la cybersécurité de leurs projets
            .enjeu
              h3.sous-titre Uniformisez
              p.description Vos démarches et les documents associés
            .enjeu
              h3.sous-titre Supervisez
              p.description Avec une vision globale et des données fiables
          dsfr-button(
            label="Commencer à sécuriser un service"
            kind="inverted-primary"
            markup="a"
            href="/inscription"
            has-icon
            icon="arrow-right-line"
            icon-place="right"
            centered
          )

    .bloc-contenu.bloc-outil
      dsfr-container
        h2.titre Un outil simple pour comprendre et structurer votre démarche de sécurité
        .conteneur-colonnes
          .principale
            .avantage
              h3.avantage-titre Comprendre ce qui est attendu
              p.avantage-description Les exigences sont expliquées simplement.
            .avantage
              h3.avantage-titre Avancer étape par étape
              p.avantage-description Chaque action à réaliser est clairement indiquée.
            .avantage
              h3.avantage-titre Collaborer avec les experts sécurité
              p.avantage-description Les échanges avec la DSI et le RSSI sont centralisés.
          figure.secondaire
            img.illustration(
              src="/statique/assets/images/home/tableau-de-bord.png"
              alt=""
            )
        dsfr-button(
          label="Commencer à sécuriser"
          markup="a"
          href="/inscription"
          has-icon
          icon="arrow-right-line"
          icon-place="right"
          centered
        )

    .bloc-contenu.bloc-comment
      dsfr-container
        h2.titre Comment ça marche ?
        p.description Du premier ajout d'un SI à la signature de la décision d'homologation, <br/>MonServiceSécurisé vous guide à chaque étape.
        .cartes
          dsfr-card(
            title="Évaluez les besoins de sécurité de votre service numérique"
            has-description
            description="Présentez en 3 min les caractéristiques de votre service afin de permettre à l'ANSSI de créer votre liste personnalisée de mesures de sécurité et de mesures proposées par la CNIL."
            src="/statique/assets/images/landing/illustration_decrire.png"
            alt=""
            has-tag
            no-link
            no-icon)
            dsfr-tag(slot="tagsgroup" label="01")
          dsfr-card(
            title="Travaillez avec les experts sécurité"
            has-description
            description="Echangez avec votre RSSI, DSI, DPO pour bien comprendre les mesures de sécurité et celles qui vous sont attribuez"
            src="/statique/assets/images/landing/illustration_equipe.png"
            alt=""
            has-tag
            no-link
            no-icon)
            dsfr-tag(slot="tagsgroup" label="02")
          dsfr-card(
            title="Sécurisez, grâce à des mesures adaptées"
            has-description
            description="Mettez en œuvre les mesures proposées et obtenez une évaluation indicative du niveau de sécurisation du service : l'indice cyber."
            src="/statique/assets/images/landing/illustration_securisez.png"
            alt=""
            has-tag
            no-link
            no-icon)
            dsfr-tag(slot="tagsgroup" label="03")
          dsfr-card(
            title="Homologuez en toute simplicité"
            has-description
            description="Téléchargez en 1 clic, le dossier et le projet de décision d’homologation pour le faire signer."
            src="/statique/assets/images/landing/illustration_homologuer.png"
            alt=""
            has-tag
            no-link
            no-icon)
            dsfr-tag(slot="tagsgroup" label="04")
        dsfr-button(
          label="Commencer à sécuriser"
          markup="a"
          href="/inscription"
          has-icon
          icon="arrow-right-line"
          icon-place="right"
          centered
        )

    .bloc-contenu.bloc-avantages
      dsfr-container
        .conteneur
          h2.titre Les avantages MonServiceSécurisé
          p.description Une plateforme pensée pour les équipes DSI, RSSI, DPO, chefs de projet avec les mesures ANSSI et CNIL intégrées d'emblée.
          +fonctionnalitesSegmentees(
            ["Sécuriser mon service", "Collaborer efficacement", "Obtenir une homologation"],
            [
              [
                { titre: "Évaluation des besoins de sécurité", description: "Décrivez votre service en 5 minutes pour obtenir son besoin de sécurité (basique, modéré ou avancé) et la démarche d'homologation adaptée.", img: "/statique/assets/images/landing/fonctionnalites/illustration_evaluation_besoins.png" },
                { titre: "Les mesures spécifiques applicables à plusieurs services à la fois.", description: "Découvrez les mesures indispensables et recommandées à mettre en oeuvre. Chaque mesure est détaillée avec le porteur et son responsable indicatif.", img: "/statique/assets/images/landing/fonctionnalites/illustration_liste_de_mesures.png" },
                { titre: "Plan d’action", description: "Organisez-vous au mieux grâce au plan d'action (priorité, échéance, responsable) et ne ratez aucune information avec l'historique !", img: "/statique/assets/images/landing/fonctionnalites/illustration_plan_action.png" },
                { titre: "L’indice cyber", description: "Evaluez le niveau de sécurisation du service, visualisez simplement grâce au radar et obtenez une recommandation de l'ANSSI en cas de décision d'homologation", img: "/statique/assets/images/landing/fonctionnalites/illustration_indice_cyber.png" },
              ],
              [
                { titre: "Le collaboratif", description: "Sur chaque service, ajoutez des contributeurs puis échangez avec eux et le RSSI pour sécuriser en équipe.", img: "/statique/assets/images/landing/fonctionnalites/illustration_collaboratif.png" },
                { titre: "Le plan d’action et l’historique d’activité", description: "Définissez un plan d’action avec le RSSI, attribuez des responsables sur chaque mesure et ne perdez pas une information grâce à l’historique !", img: "/statique/assets/images/landing/fonctionnalites/illustration_plan_action.png" },
              ],
              [
                { titre: "Le dossier d’homologation clé-en-main", description: "Créer un dossier d’homologation en quelques étapes et faites le approuvez par votre autorité d’homologation", img: "/statique/assets/images/landing/fonctionnalites/illustration_dossier_homologation.png" },
                { titre: "L’encart d’homologation", description: "Valorisez vos efforts d’homologation et soyez transparents avec les usagers de vos SIs en partageant l’encart d’homologation.", img: "/statique/assets/images/landing/fonctionnalites/illustration_encart_homologation.png" },
              ],
            ],
            'h3'
          )

    .bloc-contenu.bloc-equipe
      dsfr-container
        .conteneur-colonnes.inverse
          .principale
            h2.titre Montez en compétences,<br/> construisez l'outil avec nous
            p.description
              span Antoine et Fabien vous guideront dans la découverte et la prise en main de MonServiceSécurisé au sein de votre organisation.&nbsp;
                strong Notre priorité : vous accompagner.
            dsfr-button(
              label="S'inscrire à la formation"
              markup="a"
              href="https://calendly.com/fabien-giraud/presentation-de-monservicesecurise-1"
            )
          figure.secondaire
            img.illustration(
              src="/statique/assets/images/home/illustration_equipe_antoine_fabien.png"
              alt="Photo d'Antoine Dupuy et Fabien Giraud"
            )

    .bloc-contenu.bloc-mss-impact
      dsfr-container
        .conteneur-colonnes
          .principale
            h2.titre MonServiceSécurisé,<br> service à impact national
            p.description La direction interministérielle du numérique a attribué le statut de service à impact national à MonServiceSécurisé. Cela atteste que le service est de grande qualité, résout réellement un problème d’interêt général et a un fort impact sur ses utilisateurs.
            dsfr-button(
              label="En savoir plus"
              kind="inverted-primary"
              markup="a"
              href="https://aide.monservicesecurise.cyber.gouv.fr/fr/article/service-a-impact-national-quest-ce-que-ca-signifie-67i3tq/"
              target="blank"
            )
          figure.secondaire
            img.illustration(
              src="/statique/assets/images/home/illustration_service_impact_national.svg"
              alt="Illustration de MonServiceSécurisé, service à impact national"
            )

    .bloc-contenu.bloc-entites
      dsfr-container
        h2.titre Ces entités qui nous font confiance
        +entites('conteneur')

    .bloc-contenu.bloc-avis
      dsfr-container
        h2.titre Les avis de nos utilisateurs
        lab-anssi-temoignages(
          titre=""
          temoignages='[{"citation":"Nous avons commencé à utiliser MSS qui correspond bien à nos objectifs en termes de sécurité et de protection des données personnelles : la complémentarité entre DSI, RSSI et DPO. L\'utilisation du service est simple. Nous y intégrons désormais les nouveaux projets au fur et à mesure que nous en sommes informés. Cela contribue au respect des principes de privacy et security by design.","auteur":"Robert Malek","source":"IMT"},{"citation":"L\'idée d\'une gestion pilotée par la direction générale s\'est révélée être un point de départ essentiel, permettant de dépasser l\'image de \'gadget technique\' souvent associée à une direction opérationnelle. Bien au contraire, chez nous, cet outil est devenu un moyen commun au service de tous. Merci donc pour cette initiative ! ","auteur":"Lionel Pérès","source":"Ville de Vaison-la-Romaine · Directeur général des services"},{"citation":"Après avoir expérimenté l\'outil sur quelques projets en 2023, l\'établissement a décidé de systématiser la démarche d\'homologation de sécurité à tous les nouveaux projets numériques. Il va ainsi accélérer sa mise en conformité avec la nouvelle réglementation et au-delà, se donner les moyens d\'opérer un Numérique plus sûr, garant d\'un service public de confiance.","auteur":"Jacques Hertzberg","source":"Université de Pau · RMSI"},{"citation":"Nous étions à la recherche d\'un outil d’analyse de risques afin de dresser une cartographie des risques de nos SI. Les critères de choix étaient : efficacité et exhaustivité dans les analyses réalisées, facilité d\'emploi pour tous, avec un gestion granulaire des droits d\'accès, aspect collaboratif sur les projets transverses, (etc…). Après une étude de l\'état de l\'art, la solution MonServiceSécurisé a répondu à tous ces critères.","auteur":"Brice Dal Pra","source":"IMT · Responsable de la Sécurité des Systèmes d\'Information IMT"},{"citation":"MonServiceSécurisé est un outil très utile qui m\'a permis de définir plus clairement le niveau de maturité du service que nous mettons à disposition de nos administrés (site Web), et il nous aide dans la construction d\'un plan d\'action SSI, basé sur une analyse du besoin en sécurité et de l\'évaluation du risque sécurité.","auteur":"David Henocq","source":"Boivre-la-Vallée · Conseiller Mairie"},{"citation":"MonServiceSécurisé nous permet d’homologuer l’ensemble de nos sites internet et de rassurer nos collectivités sur notre démarche de sécurisation de nos sites internet, mais aussi de rassurer les habitants des collectivités qui nous font confiance sur la sécurité du site internet de leurs communes.","auteur":"Maxime Virot","source":"OPSN Adico · Responsable du pôle infrastructures"},{"citation":"J\'ai utilisé MonServiceSécurisé comme support dans le cadre de l\'homologation RGS de notre produit. Dans les premières phases, cela a été très utile pour faire un panorama de notre situation d\'un point de vue sécurité. Et par la suite d\'avoir l\'outil comme boussole pour évaluer l\'évolution de notre score en fonction des différentes actions menées.","auteur":"Sonia Perelroizen","source":"Inclusion Connect | La Plateforme de l\'inclusion · Gestionnaire produit"},{"citation":"Un grand vide de comblé. Un bel outil simple à utiliser. Une équipe réactive pour la prise en compte de nouveaux besoins ou des évolutions. Un grand merci à tous.","auteur":"Jean-Paul Baudic","source":"SGDSN · FSSI"},{"citation":"L’outil s’avère efficace, et permet d’harmoniser l’approche d’homologation, quel que soit l’agent qui rédige le dossier. Au final, nous gagnons du temps et de la rigueur dans la création de nos dossiers d’homologation. À ajouter dans sa boîte à outils « cyber ».","auteur":"Sylvain Bart","source":"Pas de Calais · RSSI"},{"citation":"L\'outil MonServiceSécurisé permet une prise de conscience pour les entités proposants des services à travers Internet et donne de sérieuses pistes d\'amélioration et de sécurisation. Il nous reste du pain sur la planche !","auteur":"Baptiste Fostein","source":"La Fibre64 · DSSI"}]'
        )

    .bloc-contenu.bloc-communaute
      dsfr-container
        .conteneur-colonnes.inverse
          .principale
            h2.titre Rejoignez la communauté MonServiceSécurisé et Innovation ANSSI !
            p.description En tant que&nbsp;
              strong membre de la communauté&nbsp;
              | vous pourrez :
            ul.list
              li
                strong Echanger&nbsp;
                | directement avec vos pairs pour une collaboration facilitée.
              li
                strong Découvrir&nbsp;
                | en avant-première les nouvelles fonctionnalités à venir.
              li
                strong Participer&nbsp;
                | activement au développement de MonServiceSécurisé en nous partageant vos besoins et suggestions d’amélioration.
            dsfr-button(
              label="Rejoindre la communauté"
              kind="inverted-primary"
              markup="a"
              href="https://tally.so/r/wa6o22"
              centered
            )
          figure.secondaire
            img.illustration(
              loading="lazy"
              src="/statique/assets/images/home/illustration_communaute.svg"
              alt=""
            )

    .bloc-contenu.bloc-presentation-anssi
      lab-anssi-presentation-anssi
