extends mssDeconnecte
include ./fragments/navigationSiteVitrine

block variables
  - const meta_description = "Découvrez les statistiques d'utilisation de MonServiceSécurisé et l'impact généré sur les services numériques qui utilisent le produit."

block title
  title Statistiques | MonServiceSécurisé

block append styles
  link(href='/statique/assets/styles/entete.responsive.css', rel='stylesheet')
  link(href='/statique/assets/styles/piedPage.responsive.css', rel='stylesheet')
  link(href='/statique/assets/styles/statistiques.css', rel='stylesheet')

block navigation-site-vitrine
  +navigationSiteVitrine()


mixin uneCarteDeStats(illustration, chiffre, label, evolution, avecSuffixe = true)
  .carte
    img(src=`/statique/assets/images/${illustration}.svg`)
    .chiffre #{chiffre}
    .label #{label}
    .evolution #{evolution} #{avecSuffixe ? 'depuis 1 an' : ''}


block main
  .bandeau
    .fil-ariane
      a(href='/') Accueil
      img(src='/statique/assets/images/forme_chevron_blanc.svg')
      span Nos statistiques
    h1 Nos statistiques
    h2 L'impact de MonServiceSécurisé en quelques chiffres

  .statistiques
    .cartes
      - const chiffres = new Intl.NumberFormat('fr-FR')
      +uneCarteDeStats('avatar', chiffres.format(utilisateurs.nombre), 'Utilisateurs inscrits', '', false)
      +uneCarteDeStats('navigateur', chiffres.format(services.nombre), 'Services sécurisés', '', false)
      +uneCarteDeStats('data_viz', indiceCyber.nombre, "Progression moyenne de l'indice cyber sur 1 an", "chiffre calculé en décembre 2024", false)
      +uneCarteDeStats('connexion_perdue', chiffres.format(vulnerabilites.nombre), "Vulnérabilités corrigées", '', false)
