extends mssConnecte
include fragments/modaleNouveauService

mixin carteInformation(sourceImage, classeFondImage, idNombre, textePremiereLigne, texteDeuxiemeLigne)
  .carte
    .conteneur-image(class=classeFondImage)
      img(src=sourceImage)
    .conteneur-texte
      dl
        dt.nombre(id=idNombre) -
        dd!= textePremiereLigne
        dd!= texteDeuxiemeLigne

mixin actionAvecIcone(sourceImage, texteAction, action, id)
  .action.ouvre-tiroir(data-action=action, id=id, tabindex=0)
    img(src=sourceImage)
    p!= texteAction

block append styles
  link(href = '/styles/selectize.default.min.css', rel = 'stylesheet')
  link(href = '/statique/assets/styles/modules/selectize.css', rel = 'stylesheet')
  link(href = '/statique/assets/styles/tableauDeBord.css', rel = 'stylesheet')
  link(href = '/statique/assets/styles/tiroir.css', rel = 'stylesheet')

block append scripts
  script(src = "/statique/bibliotheques/selectize-0.15.2.min.js")
  script(src = "/statique/composants-svelte/gestionContributeurs.js", type = "module")

block main
  +modaleNouveauService

  a(href = './utilisateur/edition').bandeau-maj-profil.invisible
    p.marges-fixes.
      Mettez à jour vos informations

  .suivi-services
    .entete-suivi-services
      .marges-fixes
        .titres
          h1 Mon tableau de bord
        .bandeau-info-action
          .informations
            +carteInformation('/statique/assets/images/icone_services_enregistres.svg', '', 'nombre-services', 'Services', 'enregistrés')
            +carteInformation('/statique/assets/images/icone_services_homologues.svg', 'vert', 'nombre-services-homologues', 'Services', 'homologués')
            +carteInformation('/statique/assets/images/icone_indice_cyber_moyen.svg', 'bleu', 'indice-cyber-moyen', 'Indice cyber', 'moyen')
          .nouveau-service.bouton#nouveau-service Nouveau service
        .recherche
          label(for='recherche-service') Rechercher
            input#recherche-service(type='text', placeHolder='ex : Service Z, Agglomération de Mansart,...')
    .services.marges-fixes
      table.tableau-services
        colgroup
          col(class='nom-service')
          col(class='nombre-contributeurs')
          col(class='indice-cyber')
          col(class='statut-homologation')
          col(class='actions')
        thead
          tr
            th.entete-selection
              .conteneur-tous-selection
                input.checkbox-tous-services(type='checkbox')
                .texte-tous-service Tous
            th.entete-contributeurs.declencheur-menu-flottant(data-colonne='nombreContributeurs', data-ordre='0', data-filtre-proprietaire='false')
              p Contributeur(s)
              .menu-flottant.invisible
                p.efface-tri-contributeurs effacer le tri
                .nom-propriete Trier
                  label 
                    input.tri-contributeur(type='radio', name='tri-contributeur', value=1)
                    p Croissant
                  label
                    input.tri-contributeur(type='radio', name='tri-contributeur', value=2)
                    p Décroissant
                .nom-propriete Filtrer
                  label
                    input.filtre-contributeur.filtre-proprietaire-contributeurs(type='checkbox')
                    p.filtre-mes-services Mes services

            th.triable(data-colonne='indiceCyber', data-ordre='0') Indice Cyber
            th.triable(data-colonne='ordreStatutHomologation', data-ordre='0') Homologation
            th
          tr#barre-outils
            th(colspan=5)
              .conteneur-barre-outils
                .conteneur-selection-multiple
                  input.checkbox-selection-tous-services(type='checkbox')
                  .texte-nombre-service 0 sélectionné
                hr
                +actionAvecIcone('/statique/assets/images/icone_ajout_contributeur.svg', 'Inviter contributeur(s)', 'invitation')
                +actionAvecIcone('/statique/assets/images/icone_action_telechargement.svg', 'Télécharger PDF(s)', 'telechargement', 'action-flottante-telechargement')
                +actionAvecIcone('/statique/assets/images/icone_exporter_service.svg', 'Exporter la sélection', 'export')
                +actionAvecIcone('/statique/assets/images/icone_dupliquer_service.svg', 'Dupliquer', 'duplication')
                +actionAvecIcone('/statique/assets/images/icone_supprimer.svg', 'Supprimer', 'suppression')
        tbody.contenu-tableau-services
    .tiroir
      .entete-tiroir
        img.image-entete(src='/statique/assets/images/fond_entete_tiroir.svg')
        .par-dessus
          .fermeture-tiroir.croix-fermeture ✕
          h3.titre-tiroir
          p.texte-tiroir
      .contenu-tiroir
        include ./tiroirs/tiroirContributeurs
        include ./tiroirs/tiroirExport
        include ./tiroirs/tiroirInvitation
        include ./tiroirs/tiroirDuplication
        include ./tiroirs/tiroirSuppression
        include ./tiroirs/tiroirTelechargement


  script(type = 'module', src = '/statique/tableauDeBord.js')
