extends mssConnecte
include fragments/modaleNouveauService

mixin carteInformation(sourceImage, classeFondImage, idNombre, textePremiereLigne, texteDeuxiemeLigne)
  .carte
    .conteneur-image(class=classeFondImage)
      img(src=sourceImage)
    .conteneur-texte
      dl
        dt.nombre(id=idNombre) 0
        dd!= textePremiereLigne
        dd!= texteDeuxiemeLigne

mixin actionAvecIcone(sourceImage, texteAction, action)
  .action(data-action=action)
    img(src=sourceImage)
    p!= texteAction 

block append styles
  link(href = '/statique/assets/styles/tableauDeBord.css', rel = 'stylesheet')

block main
  +modaleNouveauService

  a(href = './utilisateur/edition').bandeau-maj-profil.invisible
    p.marges-fixes.
      Mettez à jour vos informations

  .suivi-services
    .entete-suivi-services
      .marges-fixes
        .titres
          h1 Mes services
        .bandeau-info-action
          .informations
            +carteInformation('/statique/assets/images/icone_services_enregistres.svg', '', 'nombre-services', 'Services', 'enregistrés')
            +carteInformation('/statique/assets/images/icone_services_homologues.svg', 'vert', 'nombre-services-homologues', 'Services', 'homologués')
            +carteInformation('/statique/assets/images/icone_indice_cyber_moyen.svg', 'bleu', 'indice-cyber-moyen', 'Indice cyber', 'moyen')
          .actions
            label(for='recherche-service') Rechercher
              input#recherche-service(type='text', placeHolder='ex : Service Z, Agglomération de Mansart,...')
            .nouveau-service#nouveau-service Nouveau service
    .services.marges-fixes
      table.tableau-services
        colgroup
          col(class='nom-service')
          col(class='nombre-contributeurs')
          col(class='indice-cyber')
          col(class='statut-homologation')
          col(class='actions')
        thead
          tr
            th.entete-selection
              .conteneur-selection-services
                input.checkbox-selection-tous-services(type='checkbox')
                .texte-nombre-service 0 sélectionné
                img.fleche-droite(src='/statique/assets/images/fleche_pointe_droite.svg')
                .menu-flotant.actions-services.invisible
                  +actionAvecIcone('/statique/assets/images/icone_ajout_contributeur.svg', 'Inviter contributeur(s)', 'invitation')
                  hr
                  +actionAvecIcone('/statique/assets/images/icone_dupliquer_service.svg', 'Dupliquer', 'duplication')
                  +actionAvecIcone('/statique/assets/images/icone_supprimer.svg', 'Supprimer', 'suppression')
            th.entete-contributeurs(data-colonne='nombreContributeurs') Contributeur(s)
            th(data-colonne='indiceCyber') Indice Cyber
            th(data-colonne='statutHomologation') Homologation
            th 
        tbody.contenu-tableau-services
    .tirroir
      .entete-tirroir
        img.image-entete(src='/statique/assets/images/fond_entete_tirroir.svg')
        .par-dessus
          .fermeture-tirroir.croix-fermeture ✕
          h3.titre-tirroir
          p.texte-tirroir
      .contenu-tirroir
        .bloc-contenu#contenu-invitation
          p Saisir l'e-mail de la personne à inviter.
          label Ajouter
            br
            input(
              id = 'email-invitation-collaboration',
              name = 'email-invitation-collaboration',
              type = 'email',
              placeholder = 'ex : e.leroy@domaine.fr',
              required,
            )
          .conteneur-actions
            button.bouton.bouton-secondaire.fermeture-tirroir Annuler
            button.bouton#action-invitation Envoyer une invitation
        .bloc-contenu#contenu-invitation2
          img(src='/statique/assets/images/image_succes_invitation.svg')
          p Un e-mail d'invitation a bien été envoyé.
          button.bouton.fermeture-tirroir Revenir à la liste des contributeurs
        .bloc-contenu#contenu-duplication
          p Saisir le nombre de copies souhaitées.
          label Nombre de copies
            br
            input(
              id = 'nombre-copie',
              name = 'nombre-copie',
              type = 'number',
              value = 1,
              min = 1,
              max = 100,
              placeholder = 'ex : 2',
              required,
            )
            .message-erreur Veuillez utiliser une valeur entre 1 et 100.
          .conteneur-actions
            button.bouton.bouton-secondaire.fermeture-tirroir Annuler
            button.bouton#action-duplication Valider
        .bloc-contenu#contenu-suppression
          p 
            span Souhaitez-vous vraiment supprimer 
            span#nombre-service-suppression
            span ?
          .banniere-avertissement
            img(src='/statique/assets/images/icone_danger.svg')
            .contenu-texte-avertissement
              strong Cette action est irréversible
              p Les données seront définitivement effacées. Les contributeurs n'auront plus accès à ce service.
          .conteneur-actions
            button.bouton.bouton-secondaire.fermeture-tirroir Non, j'annule
            button.bouton#action-suppression Je confirme la suppression


  script(type = 'module', src = '/statique/tableauDeBord.js')
