extends mssConnecte
include fragments/modaleNouveauService

mixin carteInformation(sourceImage, classeFondImage, idNombre, textePremiereLigne, texteDeuxiemeLigne)
  .carte
    .conteneur-image(class=classeFondImage)
      img(src=sourceImage)
    .conteneur-texte
      dl
        dt.nombre(id=idNombre) -
        dd!= textePremiereLigne
        dd!= texteDeuxiemeLigne

mixin actionAvecIcone(sourceImage, texteAction, action, id)
  .action(data-action=action, id=id, tabindex=0)
    img(src=sourceImage)
    p!= texteAction

mixin documentTelechargeable(nom, description, type, idLien, peutEtreIndisponible)
  - const sourceImage = `/statique/assets/images/icone_telechargement_${type.toLowerCase()}.svg`
  .document-telechargeable(id= `conteneur-${idLien}`)
    .contenu
      img.icone-type-document(src=sourceImage)
      .contenu-texte
        p.titre-document= nom
        p.description-document!= description
    a.lien-telechargement.bouton(href='', target='_blank', rel='noopener', id=idLien) Télécharger
    if (peutEtreIndisponible)
      p.lien-indisponible Document non disponible

block append styles
  link(href = '/statique/assets/styles/tableauDeBord.css', rel = 'stylesheet')

block main
  +modaleNouveauService

  a(href = './utilisateur/edition').bandeau-maj-profil.invisible
    p.marges-fixes.
      Mettez à jour vos informations

  .suivi-services
    .entete-suivi-services
      .marges-fixes
        .titres
          h1 Mes services
        .bandeau-info-action
          .informations
            +carteInformation('/statique/assets/images/icone_services_enregistres.svg', '', 'nombre-services', 'Services', 'enregistrés')
            +carteInformation('/statique/assets/images/icone_services_homologues.svg', 'vert', 'nombre-services-homologues', 'Services', 'homologués')
            +carteInformation('/statique/assets/images/icone_indice_cyber_moyen.svg', 'bleu', 'indice-cyber-moyen', 'Indice cyber', 'moyen')
          .nouveau-service.bouton#nouveau-service Nouveau service
        .recherche
          label(for='recherche-service') Rechercher
            input#recherche-service(type='text', placeHolder='ex : Service Z, Agglomération de Mansart,...')
    .services.marges-fixes
      table.tableau-services
        colgroup
          col(class='nom-service')
          col(class='nombre-contributeurs')
          col(class='indice-cyber')
          col(class='statut-homologation')
          col(class='actions')
        thead
          tr
            th.entete-selection
              .conteneur-tous-selection
                input.checkbox-tous-services(type='checkbox')
                .texte-tous-service Tous
            th.entete-contributeurs(data-colonne='nombreContributeurs') Contributeur(s)
            th(data-colonne='indiceCyber') Indice Cyber
            th(data-colonne='statutHomologation') Homologation
            th
          tr#barre-outils
            th(colspan=5)
              .conteneur-barre-outils
                .conteneur-selection-multiple
                  input.checkbox-selection-tous-services(type='checkbox')
                  .texte-nombre-service 0 sélectionné
                hr
                +actionAvecIcone('/statique/assets/images/icone_ajout_contributeur.svg', 'Inviter contributeur(s)', 'invitation')
                +actionAvecIcone('/statique/assets/images/icone_action_telechargement.svg', 'Télécharger PDF(s)', 'telechargement', 'action-flotante-telechargement')
                hr.action
                +actionAvecIcone('/statique/assets/images/icone_exporter_service.svg', 'Exporter la sélection', 'export')
                +actionAvecIcone('/statique/assets/images/icone_dupliquer_service.svg', 'Dupliquer', 'duplication')
                +actionAvecIcone('/statique/assets/images/icone_supprimer.svg', 'Supprimer', 'suppression')
        tbody.contenu-tableau-services
    .tiroir
      .entete-tiroir
        img.image-entete(src='/statique/assets/images/fond_entete_tiroir.svg')
        .par-dessus
          .fermeture-tiroir.croix-fermeture ✕
          h3.titre-tiroir
          p.texte-tiroir
      .contenu-tiroir
        form.bloc-contenu#contenu-contributeurs
          ul#liste-contributeurs
        form.bloc-contenu#contenu-export
          - const formatDateCourt = Intl.DateTimeFormat('fr-CA', { year: 'numeric', month: '2-digit', day: '2-digit' });
          - const maintenant = new Date();
          - const nomFichierCsv = `MSS_services_${formatDateCourt.format(maintenant).replaceAll('-', '')}.csv`
          ul.liste-fichiers
            li.fichier
              .nom-document
                p= nomFichierCsv
              button.bouton#action-export-csv(type='button') Télécharger
        form.bloc-contenu#contenu-invitation
          label Ajouter
            br
            input(
              id = 'email-invitation-collaboration',
              name = 'email-invitation-collaboration',
              type = 'email',
              placeholder = 'ex : e.leroy@domaine.fr',
              required,
            )
            .message-erreur Veuillez saisir une adresse e-mail valide.
          .conteneur-actions
            button.bouton.bouton-secondaire.fermeture-tiroir(type='button') Annuler
            button.bouton#action-invitation(type='button') Envoyer une invitation
        .bloc-contenu#contenu-invitation-confirmation
          img(src='/statique/assets/images/image_succes_invitation.svg')
          p Un e-mail d'invitation a bien été envoyé.
          button.bouton.fermeture-tiroir Revenir à la liste des contributeurs
        form.bloc-contenu#contenu-duplication
          label Nombre de copies souhaitées
            br
            input(
              id = 'nombre-copie',
              name = 'nombre-copie',
              type = 'number',
              value = 1,
              min = 1,
              max = 100,
              placeholder = 'ex : 2',
              required,
            )
            .message-erreur Veuillez utiliser une valeur entre 1 et 100.
          .conteneur-actions
            button.bouton.bouton-secondaire.fermeture-tiroir(type='button') Annuler
            button.bouton#action-duplication(type='button') Valider
        form.bloc-contenu#contenu-suppression
          p 
            span Souhaitez-vous vraiment supprimer 
            span#nombre-service-suppression
            span ?
          label.banniere-avertissement
            img(src='/statique/assets/images/icone_danger.svg')
            .contenu-texte-avertissement
              strong Cette action est irréversible
              p Les données seront définitivement effacées. Les contributeurs n'auront plus accès à ce service.
          .conteneur-actions
            button.bouton.bouton-secondaire.fermeture-tiroir(type='button') Annuler
            button.bouton#action-suppression(type='button') Confirmer la suppression
        form.bloc-contenu#contenu-telechargement
          +documentTelechargeable('Synthèse de la sécurité du service', "Ce PDF résume en 1 page l'état de la sécurité du service.", 'PDF', 'lien-synthese')
          +documentTelechargeable('Annexes', 'Ce PDF détaille toutes les informations renseignées sur la sécurité du service.', 'PDF', 'lien-annexes')
          +documentTelechargeable("Décision d'homologation de sécurité", "Ce PDF est le document de décision pouvant être signé par l'autorité d'homologation.", 'PDF', 'lien-decision', true)
          +documentTelechargeable('Tous les documents', 'Ce fichier .ZIP contient les <span id="nbPdfDisponibles"></span> PDFs à télécharger.', 'ZIP', 'lien-archive')


  script(type = 'module', src = '/statique/tableauDeBord.js')
