extends base

mixin bloc-mesure(mesuresParCategorie, legende)
  - const categories = Object.keys(mesuresParCategorie);
  if categories.length
    +boite-grise(legende)
      each categorie in categories
        p.categorie= donneesMesures.categories[categorie]
        ul.liste-puce
          each mesure in mesuresParCategorie[categorie]
            li.bloc-indivisible(class = mesure.indispensable ? "etoile" : "")
              .mesure-contenu
                .mesure-description!= mesure.description
                if mesure.modalites
                  .mesure-modalite!= mesure.modalites
    .saut-page

block page
  +bloc-mesure(donneesMesures.mesuresParStatut.enCours, donneesMesures.statuts.enCours)
  +bloc-mesure(donneesMesures.mesuresParStatut.nonFait, donneesMesures.statuts.nonFait)
  +bloc-mesure(donneesMesures.mesuresParStatut.fait, donneesMesures.statuts.fait)
  if donneesMesures.nbMesuresARemplirToutesCategories > 0
    +boite-grise('Non renseignées', 'non-renseignees')
      p.
        Il reste #{donneesMesures.nbMesuresARemplirToutesCategories}
        mesure#{donneesMesures.nbMesuresARemplirToutesCategories > 1 ? 's': ''} 
        à compléter pour obtenir 100% des mesures de sécurité proposées par l'ANSSI remplies.
