extends base

mixin cartouche(titre, description, descriptionSecondaire = null)
  .cartouche
    span.titre!= titre
    .conteneur-description
      span!= description
      if descriptionSecondaire
        .separateur
        span!= descriptionSecondaire

block page
  .tampon-homologation(class=tailleDispositif)
    .entete
      - const formatteDateFrancaise = Intl.DateTimeFormat('fr-FR').format
      -
        const texteTronque = (texte, tailleLimite) => {
          const texteDecode = decode(texte);
          const longueurInitiale = texteDecode.length;
          let resultat = texteDecode.substring(0, tailleLimite);
          if (resultat.length < longueurInitiale) resultat += '…';
          return resultat
        }
      h1!= texteTronque(service.nomService(), taillesTexte.nomService)
      +cartouche('Organisation responsable', texteTronque(service.descriptionService.organisationResponsable.nom, taillesTexte.organisationResponsable))
      +cartouche("Autorité d'homologation", texteTronque(dossier.autorite.nom, taillesTexte.autoriteHomologation), texteTronque(dossier.autorite.fonction, taillesTexte.autoriteHomologation))
      +cartouche("Date d’homologation", formatteDateFrancaise(new Date(dossier.decision.dateHomologation)))
      +cartouche("Durée et échéance de l’homologation", referentiel.descriptionEcheanceRenouvellement(dossier.decision.dureeValidite), formatteDateFrancaise(dossier.dateProchaineHomologation()))
    .pied-page
      .conteneur-images
        img#logo-mss
        img#logo-tampon
      p.footer
        | Ce service a été sécurisé et homologué avec l’aide de&nbsp;
        b MonServiceSécurisé : un outil gratuit et 100% en ligne&nbsp;
        | proposé par&nbsp;
        b l’Agence nationale de la sécurité des systèmes d’information (ANSSI)&nbsp;
        | pour&nbsp;
        b les entités publiques et leurs prestataires.
      .conteneur-extras
        p.extra
          b Protégeons les services publics en ligne
        .separateur-extra
        p.extra
          b monservicesecurise.ssi.gouv.fr