extends base

mixin cartouche(titre, description)
  .cartouche
    span.titre= titre
    .conteneur-description
      span= description

block page
  .tampon-homologation(class=tailleDispositif)
    .entete
      - const formatteDateFrancaise = Intl.DateTimeFormat('fr-FR').format
      -
        const texteTronque = (texte, tailleLimite) => {
          const texteDecode = decode(texte);
          const longueurInitiale = texteDecode.length;
          let resultat = texteDecode.substring(0, tailleLimite);
          if (resultat.length < longueurInitiale) resultat += '…';
          return resultat
        }
        const insereEspaceInvisible = (texte) => texte.replace(/(\p{Ll})(\p{Lu})/gu, '$1\u200B$2');
      h1= texteTronque(insereEspaceInvisible(service.nomService()), 60)
      .conteneur-cartouches
        +cartouche('Organisation responsable', texteTronque(service.descriptionService.organisationResponsable.nom, 67))
        +cartouche("Date d’homologation", formatteDateFrancaise(new Date(dossier.decision.dateHomologation)))
        +cartouche("Durée et échéance de l’homologation", `${referentiel.descriptionEcheanceRenouvellement(dossier.decision.dureeValidite)} | ${formatteDateFrancaise(dossier.dateProchaineHomologation())}`)
    .pied-page
      .conteneur-images
        img#logo-mss
        img#logo-tampon
      p.footer Ce service a été sécurisé et homologué avec l’aide de MonServiceSécurisé : un outil gratuit et 100% en ligne proposé par l’Agence nationale de la sécurité des systèmes d’information (ANSSI) pour les entités publiques et leurs prestataires.
      .conteneur-extras
        p
          | Protégeons les services publics en ligne
          | |
          b  monservicesecurise.cyber.gouv.fr